<template>
  <div id="box">
    <template v-if="about">
      <div class="uk-width-1-2 uk-align-center">
        <h1 id="title">{{ about.name }}</h1>
        <vue-markdown :source="about.long_description"/>
      </div>
    </template>
  </div>
</template>

<script>

import { mapState } from 'vuex'
import VueMarkdown from 'vue-markdown'

export default {
  name: 'home',
  components: {
    VueMarkdown
  },
  data: function () {
    return {
    }
  },
  computed: {
    ...mapState(['about', ])
  },
  created: function () {
  }
}
</script>

<style lang="scss">
#title {
  font-weight: bold;
}
#box {
  margin-right: 20px;
}
</style>
