<template>
  <div>
    <div class="uk-margin-large-left uk-margin-large-right">
      <vk-grid>
        <div class="uk-width-expand">
          <vk-button type="link"
                     @click="goToProfile"
                     class="uk-margin-small-bottom">
            <span class="back">
              {{ $t('backToProfile') }}
            </span>
          </vk-button>

          <h2 v-if="currentTestimony" class="uk-margin-remove-top">
            {{ currentTestimony.$.title }}
            <span class="uk-text-muted" v-if="currentTestimony.$.dc_identifier">({{ currentTestimony.$.dc_identifier }})</span>
            <vk-label :type="currentTestimony.$.published ? 'warning' : '' ">{{ status }}</vk-label>
          </h2>

        </div>

        <div class="uk-width-small">
          <p class="ago uk-margin-remove-bottom">
            <span v-if="lastSaved">{{ $t('lastSaved') }} {{ ago }}</span>
            <span v-else> <br> </span>
          </p>
          <vk-button @click="saveTestimonyRecord"
                     :disabled="currentTestimony.saving"
                     class="uk-width-1-1"> <!-- TODO: set saving according to what is being saved (testimony, segments, etc...) -->
            {{ $t('save') }}
          </vk-button>
        </div>

        <div class="uk-width-medium uk-margin-small-right">
          <br/>
          <vk-button-group>
            <vk-button> {{ $t('published') }} </vk-button>
            <vk-button> {{ $t('draft') }} </vk-button>
          </vk-button-group>
        </div>

      </vk-grid>
    </div>

    <hr class="line"/>

    <!-- player -->
    <div v-if="currentTestimony" class="uk-margin-large-left uk-margin-small-bottom" id="playerbox">
      <horizontal-player :file="playerFile"
                         ref="mainPlayer">
      </horizontal-player>
    </div>

    <hr class="line"/>

    <div class="uk-margin-large-left uk-margin-large-right tabs-section">
      <vk-tabs :activeTab="['files', 'metadata', 'transcript', 'segmentation', 'activity', 'workflow'].indexOf($route.params['tab'])">
        <vk-tabs-item :title="$t('section.files')">
          <testimony-files-section/>
        </vk-tabs-item>
        <vk-tabs-item :title="$t('section.metadata')">
          <testimony-metadata-section/>
        </vk-tabs-item>
        <vk-tabs-item :title="$t('section.transcript')">
          <testimony-transcript-section/>
        </vk-tabs-item>
        <vk-tabs-item :active="true" :title="$t('section.segmentation')">
          <testimony-segmentation-section/>
        </vk-tabs-item>
        <vk-tabs-item :title="$t('section.activity')">
          <testimony-history-section/>
        </vk-tabs-item>
        <vk-tabs-item :title="$t('section.workflow')"></vk-tabs-item>
      </vk-tabs>
    </div>
  </div>
</template>

<script>
// import axios from 'axios'
import dayjs from 'dayjs'
import relativeTime from 'dayjs/plugin/relativeTime'
dayjs.extend(relativeTime)

import { mapState, mapActions, mapMutations } from 'vuex'

import { EventBus } from '@/event-bus.js'
import Testimony from '@/models/testimony.js'
import TestimonyFilesSection from '@/components/TestimonyFilesSection'
import TestimonyMetadataSection from '@/components/TestimonyMetadataSection'
import TestimonyTranscriptSection from '@/components/TestimonyTranscriptSection'
import TestimonySegmentationSection from '@/components/TestimonySegmentationSection'
import TestimonyHistorySection from '@/components/TestimonyHistorySection'
import HorizontalPlayer from '@/components/HorizontalPlayer'

export default {
  name: 'EditTestimony',
  components: {
    TestimonyFilesSection,
    TestimonyMetadataSection,
    TestimonyTranscriptSection,
    TestimonySegmentationSection,
    TestimonyHistorySection,
    HorizontalPlayer
  },
  data: function () {
    return {
      id: null,
      playerFile: null,
      ago: null,
    }
  },
  computed: {
    ...mapState(['selectedContentLanguage', 'currentTestimony', 'useAnonVersion', 'lastSaved', ]),
    status: function () {
      return this.currentTestimony.$.published ? this.$i18n.t('status.published') : this.$i18n.t('status.draft')
    }
  },
  created: function () {
    this.id = this.$route.params['id']
    // TODO: set active tab choices dynamically
    // TODO: On change of tab, push the url to the appropriate address, dynamically
    let testimony = new Testimony({id: this.id})
    EventBus.$on('play-from', this.playFrom)
    EventBus.$on('toggle-play', this.togglePlay)
    this.$store.commit('setCurrentTestimony', testimony)
    this.updateCurrentTestimony()
        .then(() => {
          this.useAnonVersion ? this.playerFile = this.currentTestimony.$.anonymized_file : this.playerFile = this.currentTestimony.$.file
        })
  },
  beforeDestroy: function () {
    EventBus.$off('play-from')
  },
  watch: {
    selectedContentLanguage: function () {
      this.updateCurrentTestimony()
    },
    useAnonVersion: function () {
      this.currentTestimony.anonymized_file && this.useAnonVersion ? this.playerFile = this.currentTestimony.$.anonymized_file : this.playerFile = this.currentTestimony.$.file
    },
    lastSaved: function () {
      this.ago = dayjs().to(dayjs(this.lastSaved))
    },
  },
  methods: {
    ...mapActions(['updateCurrentTestimony', 'saveTestimony', ]),
    ...mapMutations(['setSave', ]),
    goToProfile: function () {
      this.$router.push({path: '/office'})
    },
    playFrom: function (timeStamp) {
      // convert HH:MM:SS to absolute seconds, as required by the <audio> tag spec
      // https://developer.mozilla.org/en-US/docs/Web/HTML/Element/audio
      let hhmmss = timeStamp.split(':')
      let seconds = 0
      seconds = seconds + Number(hhmmss.pop())  // seconds
      seconds = seconds + Number(hhmmss.pop()) * 60 // minutes
      seconds = seconds + Number(hhmmss.pop()) * 60 * 60 // hours
      this.$refs.mainPlayer.currentTime = seconds
      this.$refs.mainPlayer.play()
    },
    togglePlay: function () {
      if (this.$refs.mainPlayer.paused) {
        this.$refs.mainPlayer.play()
      } else {
        this.$refs.mainPlayer.pause()
      }
    },
    saveTestimonyRecord: function () {
      EventBus.$emit('save-testimony-record')
    }
  }
}
</script>

<style lang="scss" scoped>
  .tabs-section {
    margin-top: -15px;
  }
  .back {
    color: black;
    text-decoration: underline;
  }

  audio {
    width: 100%
  }

  .ago {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
</style>

<i18n>
{
  "en": {
    "backToProfile": "Back to profile page",
    "status": {
      "published": "Published",
      "draft": "Draft"
    },
    "section": {
      "files": "Files",
      "metadata": "Metadata",
      "transcript": "Transcript",
      "segmentation": "Segmentation",
      "activity": "Activity",
      "workflow": "Workflow"
    },
    "save": "Save",
    "lastSaved": "Last saved "
  },
  "ar": {
  }
}
</i18n>
