<template>
  <div>

    <vk-navbar class="navbar" >
      <vk-navbar-nav>
        <h3 v-if="series" class="collection-title">{{ series.name }}</h3>
        <h3 v-if="!series" class="collection-title"> Archive </h3>
        <p class="uk-margin-left uk-align-center"> {{ selectedTestimonies.length }} items </p>
      </vk-navbar-nav>

      <vk-navbar-nav slot="right">
        <vk-button @click="showFilter = true" type="default" class="uk-margin-right">Filter</vk-button>
      </vk-navbar-nav>
    </vk-navbar>

    <hr class="line"/>

    <vk-grid class="uk-margin-top uk-margin-right uk-child-width-1-2@l" gutter="medium">
      <div v-for="testimony in this.selectedTestimonies" v-bind:key="testimony.id">
        <testimony-card :testimony="testimony"></testimony-card>
      </div>
    </vk-grid>

    <vk-offcanvas-content>

      <vk-offcanvas flipped :show.sync="showFilter">
        <h3 class="filter-title"> Filters </h3>
        <hr/>
        <vk-button id="close-button" class="uk-offcanvas-close" @click="showFilter = false"><vk-icon icon="close"></vk-icon></vk-button>

        <div>
          <vk-button type="link" @click="togglePublisherFilter = !togglePublisherFilter"> <span class="filter-category"> PUBLISHER </span> </vk-button>
          <hr v-show="togglePublisherFilter"/>
          <vk-card v-show="togglePublisherFilter" type="blank" class="filter-options">
            <ul v-for="publisher in allPublishers.models.filter(publisher => this.selection.map(t => t.publisher).includes(publisher.id))" v-bind:key="publisher.id">
              <label><input class="uk-checkbox checkbox-item" type="checkbox" :value="publisher.id" v-model="checkedPublishers"> {{publisher.name}}</label>
            </ul>
          </vk-card>
        </div>
        <hr/>

        <div>
          <vk-button type="link" @click="toggleNarratorFilter = !toggleNarratorFilter"> <span class="filter-category"> NARRATOR </span> </vk-button>
          <hr v-show="toggleNarratorFilter"/>
          <vk-card v-show="toggleNarratorFilter" type="blank" class="filter-options">
            <ul v-for="person in allPersons.models.filter(person => this.selection.map(t => t.creator).includes(person.id))" v-bind:key="person.id">
              <label><input class="uk-checkbox checkbox-item" type="checkbox" :value="person.id" v-model="checkedNarrators"> {{person.name}}</label>
            </ul>
          </vk-card>
        </div>
        <hr/>

        <div>
          <vk-button type="link" @click="toggleInterviewerFilter = !toggleInterviewerFilter"> <span class="filter-category"> INTERVIEWER </span> </vk-button>
          <hr v-show="toggleInterviewerFilter"/>
          <vk-card v-show="toggleInterviewerFilter" type="blank" class="filter-options">
            <ul v-for="person in allPersons.models.filter(person => this.selection.map(t => t.contributor).includes(person.id))" v-bind:key="person.id">
              <label><input class="uk-checkbox checkbox-item" type="checkbox" :value="person.id" v-model="checkedInterviewers"> {{person.name}}</label>
            </ul>
          </vk-card>
        </div>
        <hr/>

        <!-- <div>
          <p> LOCATIONS MENTIONED </p>
        </div>
        <hr/> -->

        <div>
          <vk-button type="link" @click="toggleSubjectsFilter = !toggleSubjectsFilter"> <span class="filter-category"> SUBJECTS </span> </vk-button>
          <hr v-show="toggleSubjectsFilter"/>
          <vk-card v-show="toggleSubjectsFilter" type="blank" class="filter-options">
            <ul v-for="subject in allSubjects.models" v-bind:key="subject.id">
              <label><input class="uk-checkbox checkbox-item" type="checkbox" :value="subject.id" v-model="checkedSubjects"> {{subject.name}}</label>
            </ul>
          </vk-card>
        </div>
        <hr/>

        <div>
          <vk-button type="link" @click="toggleKeywordsFilter = !toggleKeywordsFilter"> <span class="filter-category"> KEYWORDS </span> </vk-button>
          <hr v-show="toggleKeywordsFilter"/>
          <vk-card v-show="toggleKeywordsFilter" type="blank" class="filter-options">
            <ul v-for="keyword in allKeywords.models" v-bind:key="keyword.id">
              <label><input class="uk-checkbox checkbox-item" type="checkbox" :value="keyword.id" v-model="checkedKeywords"> {{keyword.name}}</label>
            </ul>
          </vk-card>
        </div>
        <hr/>

        <div>
          <vk-button type="link" @click="toggleOriginalLanguageFilter = !toggleOriginalLanguageFilter"> <span class="filter-category"> ORIGINAL LANGUAGE </span> </vk-button>
          <hr v-show="toggleOriginalLanguageFilter"/>
          <vk-card v-show="toggleOriginalLanguageFilter" type="blank" class="filter-options">
            <ul>
              <label><input class="uk-checkbox checkbox-item" type="checkbox" :value="ar" v-model="checkedOriginalLanguage"> Arabic </label>
              <label><input class="uk-checkbox checkbox-item" type="checkbox" :value="en" v-model="checkedOriginalLanguage"> English </label>
              <label><input class="uk-checkbox checkbox-item" type="checkbox" :value="ku" v-model="checkedOriginalLanguage"> Kurdish </label>
            </ul>
          </vk-card>
        </div>
        <hr/>

        <div>
          <p> DATE INTERVAL </p>
        </div>
      </vk-offcanvas>

    </vk-offcanvas-content>

  </div>
</template>

<script>

import { mapState } from 'vuex'

import TestimonyCard from '@/components/TestimonyCard'
import TestimonyCollection from '@/collections/TestimonyCollection.js'
import PublisherCollection from '@/collections/PublisherCollection.js'
import PersonCollection from '@/collections/PersonCollection.js'
import SubjectCollection from '@/collections/SubjectCollection.js'
import KeywordCollection from '@/collections/KeywordCollection.js'

export default {
  name: 'filter',
  components: {
    TestimonyCard,
  },
  data: function () {
    return {
      title: null,
      allTestimonies: new TestimonyCollection(),
      allPublishers: new PublisherCollection(),
      allPersons: new PersonCollection(),
      allSubjects: new SubjectCollection(),
      allKeywords: new KeywordCollection(),
      allLocations: [],
      showFilter: false,
      togglePublisherFilter: false,
      toggleInterviewerFilter: false,
      toggleNarratorFilter: false,
      toggleInterviewLocationFilter: false,
      toggleLocationsMentionedFilter: false,
      toggleSubjectsFilter: false,
      toggleKeywordsFilter: false,
      toggleOriginalLanguageFilter: false,
      selectedCollection: [],
      checkedPublishers: [],
      checkedInterviewers: [],
      checkedNarrators: [],
      checkedInterviewLocation: [],
      checkedLocationsMentioned: [],
      checkedSubjects: [],
      checkedKeywords: [],
      checkedOriginLanguage: [],
      selection: [],
    }
  },
  computed: {
    ...mapState(['series']),

    selectedTestimonies: function() {
      return this.allTestimonies.models.filter((testimony) => {
          return (
            this.selection.includes(testimony) &&
            this.checkedNarrators.includes(testimony.creator) &&
            this.checkedPublishers.includes(testimony.publisher) &&
            this.checkedInterviewers.includes(testimony.contributor) &&
            !(this.checkedSubjects.filter(subject => testimony.subject.includes(subject)) === undefined ||
            this.checkedSubjects.filter(subject => testimony.subject.includes(subject)).length === 0) &&
            !(this.checkedKeywords.filter(keyword => testimony.keywords.includes(keyword)) === undefined ||
            this.checkedKeywords.filter(keyword => testimony.keywords.includes(keyword)).length === 0) &&
            this.checkedOriginalLanguage.includes(testimony.language)
          )
      })
    }
  },
  created: function () {
    this.allPublishers.fetch()
    this.allPersons.fetch()
    this.allSubjects.fetch()
    this.allKeywords.fetch()
    this.allTestimonies.fetch().then(() => {
      this.selection = this.allTestimonies.models
      if (this.series) {
        this.selection = this.selection.filter((testimony) => testimony.relation === this.series.id)
      }
      this.checkedNarrators = this.selection.map(testimony => testimony.creator)
      this.checkedPublishers = this.selection.map(testimony => testimony.publisher)
      this.checkedInterviewers = this.selection.map(testimony => testimony.contributor)
      this.checkedSubjects = this.allSubjects.map(subject => subject.id)
      this.checkedKeywords = this.allKeywords.map(keyword => keyword.id)
      this.checkedOriginalLanguage = this.selection.map(testimony => testimony.language)
    })
  }
}

</script>

<style lang="scss">
.navbar {
  margin-right: 20px;
}
.collection-title {
  margin-top: 17px;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 500;
}
.filter-title {
  font-weight: 500;
}
.filter-category {
  color: #444444;
}
.filter-options {
  margin: -30px;
}
.offcanvas {
  border: solid 1px lightgray;
}
#close-button {
  border: none;
}
</style>
