<template>
  <div>
    <vk-grid id="home">

      <div class="uk-width-1-3">

        <template v-if="about">

          <div>
            <h1 id="title">{{ about.name }}</h1>
          </div>

          <div class="description">
            <vue-markdown  :source="about.description"/>
            <p><router-link id="read-more" to="/about">read more</router-link></p>
          </div>

        </template>

        <div>
          <ul v-if="seriesCollection" class="series-list">

            <li>
              <router-link id="filter" to="/filter">
                <span @click="setSeries(null)"> Archive </span>
              </router-link>
            </li>

            <li v-for="series in seriesCollection.models" v-bind:key="series.key">
              <router-link id="filter" to="/filter">
                <span @click="setSeries(series)"> {{ series.name }} </span>
              </router-link>
            </li>

          </ul>
        </div>

      </div>

      <div id="column1" class="uk-width-expand">
        <vk-grid gutter="small">
          <div>
            <small-testimony-card-demo></small-testimony-card-demo>
          </div>
          <div>
            <small-testimony-card-demo></small-testimony-card-demo>
          </div>
          <div>
            <small-testimony-card-demo
            :file="file"
            :title="title">
            </small-testimony-card-demo>
          </div >
        </vk-grid>
      </div>

      <div id="column2" class="uk-width-expand">
        <vk-grid gutter="small">
          <div>
            <small-testimony-card-demo></small-testimony-card-demo>
          </div>
          <div>
            <small-testimony-card-demo></small-testimony-card-demo>
          </div>
          <div>
            <small-testimony-card-demo></small-testimony-card-demo>
          </div>
        </vk-grid>
      </div>

      <div id="column3" class="uk-width-expand">
        <vk-grid gutter="small">
          <div>
            <small-testimony-card-demo></small-testimony-card-demo>
          </div>
          <div>
            <small-testimony-card-demo></small-testimony-card-demo>
          </div>
          <div>
            <small-testimony-card-demo></small-testimony-card-demo>
          </div>
        </vk-grid>
      </div>


    </vk-grid>
  </div>

</template>


<script>

import { mapState, mapActions } from 'vuex'
import VueMarkdown from 'vue-markdown'
import SmallTestimonyCardDemo from '@/components/SmallTestimonyCardDemo.vue'

export default {
  name: 'home',
  components: {
    VueMarkdown,
    SmallTestimonyCardDemo
  },
  data: function () {
    return {
      testimonies: null,
      file: "https://upload.wikimedia.org/wikipedia/commons/9/97/Muwashah_lamma_bada_yatathanna.OGG",
      title: "Lamma Bada Yatathanna"
    }
  },
  computed: {
    ...mapState(['about', 'seriesCollection', ])
  },
  methods: {
    ...mapActions(['setSeries',]),
  },
  created: function () {
    //axios.get a bunch of random testimonies to preview on the home page
  }
}
</script>

<style lang="scss">
#title {
  margin-top: 10px;
  font-weight: bold;
}
#column1 {
  position: relative;
  top: 50px
}
#column2 {
  position: relative;
  top: -40px
}
#read-more {
  font-size: 1rem;
  text-decoration: underline;
  color: rgb(102, 102, 102);
  position: relative;
  left: 0px;
  top: -15px;
}
#filter {
  color: black;
}
.series-list {
  list-style-type: none;
  padding: 0;

  li {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
  }
}
</style>
