<template>
  <vk-grid>
    <div id="login-form">
        <vk-card type="blank" class="uk-position-center">
          <form @submit.prevent="login" class="uk-form-stacked">
            <vk-card-title v-if="about" class="uk-margin-large-bottom">{{ about.name }}</vk-card-title>

            <label class="uk-form-label" for="username">{{ $t('username') }}</label>
            <input v-model.trim="username" 
                   id="username" 
                   class="uk-input" 
                   type="text" 
                   :placeholder="$t('username')"
                   v-bind:class="{ 'uk-form-danger': authError.username || authError.non_field_errors }">

            <label class="uk-form-label uk-margin-small-top" for="password">{{ $t('password') }}</label>
            <input v-model="password" 
                   id="password" 
                   class="uk-input" 
                   type="password" 
                   :placeholder="$t('password')"
                   v-bind:class="{ 'uk-form-danger': authError.password || authError.non_field_errors }">

            <vk-button  type="secondary"
                        htmlType="submit"
                        class="uk-width-1-1 uk-margin-top">
              {{ $t('login-button') }}
            </vk-button>
          </form>
        </vk-card>
    </div>
  </vk-grid>
</template>

<script>

import { mapState, mapActions, mapMutations, mapGetters } from 'vuex'
import axios from 'axios'

export default {
  name: 'login',
  components: {
  }, 
  data: function () {
    return {
      username: null,
      password: null,
      authenticated: Boolean,
    }
  },
  computed: {
    ...mapState(['about', 'authError', 'accessToken', ]),
    ...mapGetters(['getAccessToken', ]),
  },
  methods: {
    ...mapActions(['obtainAccessToken', ]),
    ...mapMutations(['updateAccessToken', 'setAuthError', 'clearAuthError', ]),
    login: function () {
      // clear errors in the form 
      this.clearAuthError()
      
      // try to obtain access token
      axios.post('/token-auth/', { username: this.username, password: this.password })
        .then((response) => {
          // Put the new access token in the store
          this.updateAccessToken(response.data.token)
          // Globally add the access token to the Authorization header 
          axios.defaults.headers.common['Authorization'] = 'Token ' + this.accessToken
          // redirect user to office
          this.$router.push('office')
        })
        .catch((error) => {
          // show the error
          this.setAuthError(error.response.data)
        })
    },
  },
}
</script>

<style lang="scss" scoped>
  #login-form {
    .uk-card-title {
      font-weight: bold;
    }
    .uk-card-title {
      text-align: center;
    }
  }
</style>

<i18n>
{
  "en": {
    "login": "Login",
    "login-button": "Login",
    "username": "Username", 
    "password": "Password"
  },
  "ar": {
    "login-button": "الولوج",
    "login": "الولوج"
  }
}
</i18n>