<template>
  <div class="uk-padding-large">
    <form @submit.prevent="uploadFile" class="uk-form-stacked">
      <legend class="uk-legend">{{ $t('createTestimony') }}</legend>

      <div class="uk-margin">
        <label class="uk-form-label" for="title">{{ $t('form.title') }}</label>
        <input v-model="testimony.title"
               id="form-title"
               class="uk-input uk-form-large"
               type="text"
               @change="createTestimony"
               :placeholder="$t('form.titleTip')">
      </div>

      <!-- <label class="uk-form-label" for="file">{{ $t('form.file') }}</label> -->

      <div class="uk-margin">
        <input id="audio-input"
               class="uk-input"
               type="file"
               ref="originalFile">
        <!-- <vk-button type="secondary"
                  htmlType="submit"
                  tabindex="-1">
         {{ $t('ChooseFile') }}
        </vk-button> -->
      </div>

      <div class="uk-align-right">
        <vk-button type="secondary"
                   class="uk-margin-right"
                   @click="$router.go(-1)">
          {{ $t('form.cancel') }}
        </vk-button>

        <vk-button type="secondary"
                   htmlType="submit">
          {{ $t('form.next') }}
        </vk-button>
      </div>
    </form>
  </div>
</template>

<script>

import { mapState, mapActions } from 'vuex'
import axios from 'axios'

import Testimony from '@/models/testimony.js'

export default {
  name: 'new',
  components: {
  },
  data: function () {
    return {
      testimony: new Testimony(),
    }
  },
  computed: {
    ...mapState(['currentTestimony'])
  },
  methods: {
    ...mapActions(['setCurrentTestimony', ]),

    createTestimony: function () {

      axios.post('/testimonies/', { title: this.testimony.title })
           .then((response) => {
             this.testimony.id = response.data.id
             this.testimony.save()
             this.setCurrentTestimony(this.testimony)
           })
    },

    uploadFile: function () {

      let formData = new FormData()
      formData.append('file', this.$refs.originalFile.files[0])

      axios.patch(`testimonies/${this.testimony.id}/upload_file/`, formData, {
       headers: {
         'Content-Type': 'multipart/form-data',
       }
      }).then(() => this.$router.push({name: 'edit-testimony', params: { id: this.testimony.id, tab: 'files' } }))
       // .catch(error => console.log(error)) //TODO: handle this properly
    }
  }
}

</script>

<i18n>
{
  "en": {
    "ChooseFile": "Choose file",
    "createTestimony": "Upload the audio file",
    "form": {
      "title": "INTERVIEW TITLE",
      "titleTip": "Write the title here",
      "file": "CHOOSE AUDIO FILE",
      "next": "Next",
      "cancel": "Cancel"
    }
  },
  "ar": {
  }
}
</i18n>

<style lang="scss" scoped>
#audio-input {
  border: none;
  // height: 300px;
  // background: #EEEEEE;
}
.uk-padding-large {
  margin-right: 30px;
}
.uk-legend {
  color: black;
  font-weight: 550;
}

</style>
