<template>
  <div id="office">
      <header id="office-header"
              v-if="currentUser"
              class="uk-panel">
        <span id="username">{{ currentUser.username }}</span>
        <h3>{{ currentUser.first_name }} {{ currentUser.last_name }}</h3>
        <vk-button type="link"
                   @click="logout"
                   class="uk-position-top-right uk-position-small">
                   <span id="logout">
          {{ $t('log out') }}
        </span>
        </vk-button>
      </header>
      <vk-tabs>
        <vk-tabs-item :title="$t('testimonies')"><testimonies/></vk-tabs-item>
        <vk-tabs-item :title="$t('collections')"><collections/></vk-tabs-item>
        <vk-tabs-item :title="$t('narrators')"><narrators/></vk-tabs-item>
        <vk-tabs-item :title="$t('keywords')"><keywords/></vk-tabs-item>
        <vk-tabs-item :title="$t('subjects')"><subjects/></vk-tabs-item>
      </vk-tabs>
  </div>
</template>

<script>

import { mapState, mapMutations, mapGetters } from 'vuex'

// import User from '@/models/user.js'
import Testimonies from '@/components/Testimonies'
import Collections from '@/components/Collections'
import Narrators from '@/components/Narrators'
import Keywords from '@/components/Keywords'
import Subjects from '@/components/Subjects'

export default {
  name: 'HomeOffice',
  components: {
    Testimonies,
    Collections,
    Narrators,
    Keywords,
    Subjects,
  },
  data: function () {
    return {
    }
  },
  computed: {
    ...mapState(['currentUser', 'accessToken', ]),
    ...mapGetters(['getAccessToken', ]),
  },
  methods: {
    ...mapMutations(['removeAccessToken', ]),
    logout: function () {
      this.removeAccessToken()
      this.$router.push({name: 'home'})
    }
  },
  created: function () {
    this.currentUser.fetch()
  }
}
</script>

<style lang="scss" scoped>
#logout {
  cursor: pointer;
  text-decoration: underline;
  color: black;
  font-weight: 500;
  margin-right: 5px;
  right: 0;
}

#username {
  font-size: 30px;
  padding: 20px;
  color: black;
}

#office-header {
  h3 {
    margin-top: 0px;
  }
}

</style>
