<template>
  <div class="cardz">
    <vk-card type="default" class="metadata">

      <vk-button class="uk-padding-small uk-padding-remove-vertical" 
                 slot="badge" 
                 type="link"
                 @click="$emit('edit-attachment-modal', id)">
        {{ $t('edit') }}
      </vk-button>

      <vk-button slot="badge" 
                 type="link"
                 @click="$emit('delete-attachment-modal', id)">
        {{ $t('delete') }}
      </vk-button>

      <div v-if="preview" slot="media-bottom">
        <a :href="preview">
          <img :src="preview" />          
        </a>
      </div>

      <!-- card body -->
      <label>{{ $t('name') }}
        <p>{{ name}}</p>
      </label>
      <label v-if="description">{{ $t('description') }}
        <p>{{ description}}</p>
      </label>
      <vk-button-link type="link" 
                 :href="file">
        {{ $t('viewAttachment') }}
      </vk-button-link>
    </vk-card>
  </div>
</template>

<script>
import Attachment from '@/models/attachment.js'

export default {
  name: 'AdditionalFileCard',
  props: {
    id: Number,
    name: String,
    description: String,
    preview: null,
    file: String,
  },
  data: function () {
    return {
      newName: null,
      newDescription: null,
      showDeleteModal: false,
      showEditModal: false,
      attachment: new Attachment(),
    }
  },
  mounted: function () {
    this.newName = this.name
    this.newDescription = this.description
  },
  methods: {
  },
}
</script>

<style lang="scss" scoped>
.card {
  border: 1px solid;
}

.metadata {
  label {
    font-weight: bold;
    text-transform: uppercase;
    p {
      font-weight: normal;
      text-transform: none;
    }
  }
}
</style>

<i18n>
{
  "en": {
    "edit": "Edit",
    "delete": "Delete",
    "name": "Name",
    "description": "Description",
    "viewAttachment": "View attachment"
  },
  "ar": {
  }
}
</i18n>