<template>
  <div class="uk-panel uk-margin-right">
    <div class="uk-panel">
      <label class="uk-form-label" for="show-items-by">{{ $t('show') }}: </label>
      <select id="show-items-by" class="uk-select uk-width-1-6">
        <option selected="selected">{{ $t('All Collections') }}</option>
        <option>{{ $t('My Collections') }}</option>
      </select>
      <vk-button type="secondary"
                 @click="setCollection(null, 'edit')"
                 class="uk-position-right">
        + {{ $t('new collection') }}
      </vk-button>
    </div>

    <vk-modal :show.sync="editPopup">
      <form @submit.prevent="addCollection" class="uk-form-stacked">
        <legend v-if="collection.identifier === ''" class="uk-legend">{{ $t('New Collection') }}</legend>
        <legend v-else class="uk-legend">{{ $t('Edit Collection') }}</legend>
        <div class="uk-margin">
          <label class="uk-form-label" for="title">{{ $t('Collection title') }}</label>
          <input v-model="collection.name"
                 class="uk-input uk-form-medium"
                 type="text"
                 :placeholder="$t('Add title')">
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="identifier">{{ $t('Collection identifier') }}</label>
          <input v-model="collection.identifier"
                 class="uk-input uk-form-medium"
                 type="text"
                 :placeholder="$t('Add identifier')">
        </div>

        <vk-table :data="allTestimonies.models" :selected-rows.sync="selection" rows-selectable>
          <vk-table-column :title="$t('title')" cell="_attributes.title">
            <div slot-scope="{ row }">
              {{ row._attributes.title }}
            </div>
          </vk-table-column>

          <vk-table-column :title="$t('status')" cell="_attributes.published">
            <div slot-scope="{ cell }">
              <span v-if="cell">
                {{ $t('published') }}
              </span>
              <span v-else>
                {{ $t('draft') }}
              </span>
            </div>
          </vk-table-column>
        </vk-table>

        <vk-modal-title></vk-modal-title>

        <p class="uk-text-right">
          <vk-button @click="editPopup = false" class="uk-margin-small-right" type="secondary">Cancel</vk-button>
          <vk-button @click="editPopup = false" htmlType="submit" type="secondary">{{ $t('Save') }}</vk-button>
        </p>
      </form>
    </vk-modal>

    <vk-modal :show.sync="deletePopup">
      <h3>{{ $t('Are you sure you want to delete this collection?') }} </h3>
      <p>{{ $t('All testimonies associated with this collection will also be deleted.') }} </p>
      <p class="uk-text-right">
        <vk-button @click="deletePopup = false" class="uk-margin-small-right" type="secondary">{{ $t('Cancel') }}</vk-button>
        <vk-button @click="deleteCollection(collection)" type="secondary">{{ $t('Delete') }}</vk-button>
      </p>
    </vk-modal>

    <vk-table :data="allCollections.models"
              hoverable>
      <vk-table-column :title="$t('collection title')" cell="_attributes.name">
      </vk-table-column>

      <vk-table-column :title="$t('items')">
        <div slot-scope="{ row }">
          {{ allTestimonies.models.filter((testimony) => testimony.relation === row._attributes.id).length }} interviews
        </div>
      </vk-table-column>

      <vk-table-column :title="$t('action')" cell="_attributes.id">
        <div slot-scope="{ row }">
          <vk-button @click="setCollection(row._attributes, 'edit')" class="uk-button-small delete-button">
            <vk-icons-pencil/>
          </vk-button>

          <vk-button @click="setCollection(row._attributes, 'delete')" class="uk-button-small delete-button">
            <vk-icons-trash/>
          </vk-button>
        </div>
      </vk-table-column>

    </vk-table>
  </div>
</template>

<script>

import { mapActions, mapMutations } from 'vuex'

import axios from 'axios'
import Series from '@/models/series.js'
import SeriesCollection from '@/collections/SeriesCollection'
import TestimonyCollection from '@/collections/TestimonyCollection'

export default {
  name: 'Collections',
  data: function () {
    return {
      allCollections: new SeriesCollection(),
      collection: new Series(),
      allTestimonies: new TestimonyCollection(),
      selection: [],
      editPopup: false,
      deletePopup: false,
    }
  },
  created: function () {
    this.allCollections.fetch()
    this.allTestimonies.fetch()
  },
  methods: {
    ...mapActions(['setSeries']),
    ...mapMutations(['setLastSaved', ]),

    addCollection: function() {
      if (!this.allCollections.has(this.collection)) {
        axios.post('/collections/', { name: this.collection.name, identifier: this.collection.identifier })
             .then((response) => {
               this.collection.id = response.data.id
               this.collection.save()
               this.setSeries(this.collection)
               this.allCollections.add(this.collection)
             }).then(() => {
               for (var index of this.selection) {
                 this.allTestimonies.models[index].relation = this.collection.id
                 this.allTestimonies.models[index].save()
               }
             })
      }
      // else if (edit) {
      //   axios.patch(`collections/${this.currentTestimony.$.id}/`, formData, {
      //     headers: {
      //       'Content-Type': 'multipart/form-data',
      //     }
      //   })
      // }
      else {
        for (var index of this.selection) {
          this.allTestimonies.models[index].relation = this.collection.id
          this.allTestimonies.models[index].save()
        }
      }
    },
    setCollection: function(collection, action) {
      (action === 'edit') ? (this.editPopup = true) : (this.deletePopup = true)

      if (collection) {
        this.collection = collection
        this.selection = []

        var i;
        for (i = 0; i < this.allTestimonies.models.length; i++) {
          if (this.allTestimonies.models[i].relation === collection.id) {
            this.selection.push(i)
          }
        }
      }
      else {
        this.collection = new Series()
        this.selection = []
      }
    },
    deleteCollection: function(collection) {
      var collectionPath = '/collections/' + collection.id + '/'
      var that = this

      axios.delete(collectionPath).then(() => {
        that.allCollections.remove(collection)
        that.deletePopup = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
body {
  border: solid 1px lightgray;
}
.uk-table {
  border: solid 1px lightgray;
}
.delete-button {
  border: none;
  margin: 0px;
}
</style>
