<template>
  <vk-card class="horizontal-player"
           type="default"
           padding="small">

    <audio @timeupdate="updateOffset" @loadedmetadata="duration = audio.duration" :src="file"></audio>

    <svg class="player" version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
      <g class="progress">
        <line class="total" x1="0" y1="15" x2="1000" y2="15" stroke="black"/>
        <line class="completed" x1="0" y1="15" x2="1000" y2="15" v-show="active"/>
        <line class="position" :x1="updateOffset()" y1="5" :x2="updateOffset()" y2="25"/>
        <line class="ghost" @click="updateCurrentTime" x1="0" y1="15" x2="1000" y2="15" v-show="true" stroke="black"/>
      </g>

      <g class="control-pause" @click="paused = !paused" v-if="!paused">
        <line x1="31" y1="41" x2="31" y2="59" stroke="#000000" fill="none" stroke-width="4" stroke-linecap="square" />
        <line x1="38" y1="41" x2="38" y2="59" stroke="#FFFFFF" fill="none" stroke-width="8" stroke-linecap="square" />
        <line x1="44" y1="41" x2="44" y2="59" stroke="#000000" fill="none" stroke-width="4" stroke-linecap="square" />
      </g>

      <g class="control-play" @click="paused = !paused" v-if="paused">
        <path d="M30 40 L30 60 50 50 Z" />
      </g>

      <g class="control-reset" @click="audio.currentTime = 0; paused = true">
        <path d="M20 40 L20 60 0 50 Z" />
        <line x1="2" y1="41" x2="2" y2="59" stroke="#000000" fill="none" stroke-width="4" stroke-linecap="square" />
      </g>

      <g class="timestamp" v-for="timestamp in timestamps" v-bind:key="timestamp.id">
        <line :x1="stringToPosition(timestamp.time, 1001)" y1="0" :x2="stringToPosition(timestamp.time, 1001)" y2="30" stroke="#dd6b50" stroke-width="2"/>
      </g>
    </svg>

    <div id="elapsed-time"> {{secondsToString(this.currentTime)}} / {{secondsToString(this.duration)}} </div>

  </vk-card>
</template>

<script>
export default {
  name: 'HorizontalPlayer',
  props: {
    file: String,
    timestamps: Array,
  },
  data: function () {
    return {
      active: false,
      paused: true,
      duration: 0,
      currentTime: 0,
      audio: Object,
    }
  },

  mounted: function () {
    this.audio = this.$el.getElementsByTagName('audio')[0]
  },

  watch: {
    paused: function () {
      if (this.paused) {
        this.audio.pause()

      } else {
        this.audio.play()
      }
    },
  },

  methods: {
    updateOffset: function() {
      if (this.duration === 0) {
        return 1
      }

      this.currentTime = this.audio.currentTime

      if (this.currentTime >= this.duration) {
        this.active = false
        this.paused = true
        this.audio.currentTime = 0
      }
      else if (this.currentTime > 0) {
        this.active = true
      }

      var progress = this.currentTime / this.duration;
      var offset = 1001 - (1-progress) * 1000;

      this.circle = this.$el.querySelector('.completed');
      this.circle.style.strokeDashoffset = 1001 - offset;

      return offset
    },

    updateCurrentTime: function() {
      this.audio.currentTime = ((event.clientX - 178)/1000) * this.duration
    },

    addTimestamp: function(timestamp) {
      const position = this.stringToPosition(timestamp.time)

      if (!this.timestamps.includes(timestamp) & position <= 1 & position >= 0) {
        this.timestamps.push(timestamp)
      }
    },

    removeTimestamp: function(id) {
      const timestamp = this.timestamps.find(x => x.id === id)
      const index = this.timestamps.indexOf(timestamp)

      if (index > -1) {
        this.timestamps.splice(index, 1)
      }
    },

    stringToPosition: function(string, length) {
      const a = string.split(':')
      const seconds = (+a[0]) * 60 * 60 + (+a[1]) * 60 + (+a[2]);
      var progress = seconds / this.duration

      return progress * length
    },

    secondsToString: function(seconds) {
      seconds = Math.round(seconds)
      var secs = seconds % 60
      var mins = (seconds % (60*60) - secs) / 60
      var hours = (seconds - mins*60 - secs) / 60*60

      if (secs < 10) {secs = "0" + secs}
      if (mins < 10) {mins = "0" + mins}
      if (hours < 10) {hours = "0" + hours}

      return hours.toString() + ":" + mins.toString() + ":" + secs.toString()
    }
  },
}

</script>

<style lang="scss" scoped>
.horizontal-player {
  height: 100px;
  width: auto;
  text-align: center;
  box-shadow: none;
  margin: -19px;
}

.hide-title {
  display: none;
}

#elapsed-time {
  margin-top: -111px;
  margin-left: 80px;
  position: absolute;
}

.player {
  .progress {
    .total {
      stroke: #000000;
      stroke-opacity: 0.5;
      stroke-width: 6;
      stroke-dasharray: 2 5;
      fill: none;
    }
    .completed {
      transition: stroke-dashoffset 0;
      stroke-dasharray: 1000;
      stroke: #dd6b50;
      stroke-width: 7;
      fill: none;
    }
    .position {
      stroke: #111111;
      stroke-width: 2.5;
    }
    .ghost {
      stroke-width: 30;
      stroke-opacity: 0;
    }
  }
}
</style>
