<template>
  <div class="uk-panel uk-margin-right">
    <div class="uk-panel">
      <label class="uk-form-label" for="show-items-by">{{ $t('Sort') }}: </label>
      <select id="show-items-by" class="uk-select uk-width-1-6">
        <option selected="selected">{{ $t('Alphabetical') }}</option>
        <option>{{ $t('my keywords') }}</option>
      </select>
      <vk-button type="secondary"
                 @click="popup = true"
                 class="uk-position-right">
        + {{ $t('new keyword') }}
      </vk-button>
    </div>

    <vk-modal :show.sync="popup">
      <form @submit.prevent="addKeyword" class="uk-form-stacked">
        <legend class="uk-legend">{{ $t('New keyword') }}</legend>
        <div class="uk-margin">
          <input v-model="keyword.name"
                 class="uk-input uk-form-medium"
                 type="text"
                 :placeholder="$t('Add keyword')">
        </div>

        <p class="uk-text-right">
          <vk-button @click="popup = false" class="uk-margin-small-right" type="secondary">{{ $t('Cancel') }}</vk-button>
          <vk-button @click="popup = false" htmlType="submit" type="secondary">{{ $t('Save') }}</vk-button>
        </p>
      </form>
    </vk-modal>

    <vk-modal :show.sync="deletePopup">
      <label class="uk-form-label" for="show-items-by">{{ $t('Delete keyword?') }} </label>
      <p class="uk-text-right">
        <vk-button @click="deletePopup = false" class="uk-margin-small-right" type="secondary">{{ $t('Cancel') }}</vk-button>
        <vk-button @click="deleteKeyword" type="secondary">{{ $t('Delete') }}</vk-button>
      </p>
    </vk-modal>

    <div class="uk-width-1-1 uk-margin-top">
      <h3 class="title"> {{ $t('Keywords') }} </h3>

      <div v-for="keyword in this.allKeywords.models" v-bind:key="keyword.id">
        <vk-button @click="setKeyword(keyword)" type="default delete-button">
          <span class="uk-badge keyword">
            {{keyword.name}}
          </span>
        </vk-button>
      </div>
    </div>
  </div>
</template>

<script>

import axios from 'axios'
import Keyword from '@/models/keyword.js'
import KeywordCollection from '@/collections/KeywordCollection'

export default {
  name: 'Keywords',
  data: function () {
    return {
      allKeywords: new KeywordCollection(),
      keyword: new Keyword(),
      popup: false,
      deletePopup: false,
    }
  },
  created: function () {
    this.allKeywords.fetch()
  },
  methods: {
    addKeyword: function() {
      axios.post('/keywords/', {name: this.keyword.name}).then((response) => {
        this.keyword.id = response.id
        this.keyword.save()
        this.allKeyword.add(this.keyword)
      })
    },
    deleteKeyword: function() {
      // TODO axios call

      this.allKeywords.remove(this.keyword)
      this.keyword = new Keyword()
      this.deletePopup = false
    },
    setKeyword: function(keyword) {
      this.deletePopup = true
      this.keyword = keyword
    }
  }
}
</script>

<style lang="scss" scoped>
body {
  border: solid 1px lightgray;
}
.uk-table {
  border: solid 1px lightgray;
}
.edit-button {
  border: none;
  margin: -10px;
}
.keyword {
  background: #CCCCCC;
  color: black;
}
.title {
  font-size: 20px;
}
.delete-button {
  float: left;
  display: inline;
  margin: 5px;
  border: none;
  padding: 0px;
  text-transform: lowercase;
}
</style>
