<template>
  <div class="uk-panel uk-margin-right">
    <div class="uk-panel">
      <label class="uk-form-label" for="show-items-by">{{ $t('show') }}: </label>
      <select id="show-items-by" class="uk-select uk-width-1-6">
        <option selected="selected">{{ $t('all narrators') }}</option>
        <option>{{ $t('my narrators') }}</option>
      </select>
      <vk-button type="secondary"
                 @click="setNarrator(null, 'edit')"
                 class="uk-position-right">
        + {{ $t('new narrator') }}
      </vk-button>
    </div>

    <vk-modal :show.sync="editPopup">
      <form @submit.prevent="addNarrator" class="uk-form-stacked">
        <legend v-if="narrator.id === null" class="uk-legend">{{ $t('New narrator') }}</legend>
        <legend v-else class="uk-legend">{{ $t('Edit narrator') }}</legend>
        <div class="uk-margin">
          <label class="uk-form-label" for="title">{{ $t('Narrator name*') }}</label>
          <input v-model="narrator.name"
                 class="uk-input uk-form-medium"
                 type="text"
                 :placeholder="$t('Add name')">
        </div>

        <div class="uk-width-1-2">
          <label class="uk-form-label">
            {{ $t('Birth date*') }}
            <input type="date"
                   :value="narrator.date_of_birth && narrator.date_of_birth.toISOString().split('T')[0]"
                   @input="narrator.date_of_birth = $event.target.valueAsDate"
                   class="uk-input" >
          </label>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="title">{{ $t('Address') }}</label>
          <input v-model="narrator.address"
                 class="uk-input uk-form-medium"
                 type="text"
                 :placeholder="$t('Add address')">
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="title">{{ $t('Phone number') }}</label>
          <input v-model="narrator.phone"
                 class="uk-input uk-form-medium"
                 type="text"
                 :placeholder="$t('Add phone number')">
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="title">{{ $t('Alternative communication method') }}</label>
          <input v-model="narrator.alternative_communication"
                 class="uk-input uk-form-medium"
                 type="text"
                 :placeholder="$t('Add alternative communication')">
        </div>

        <p>* Indicates a required field</p>

        <vk-modal-title></vk-modal-title>

        <p class="uk-text-right">
          <vk-button @click="editPopup = false" class="uk-margin-small-right" type="secondary">Cancel</vk-button>
          <vk-button @click="editPopup = false" htmlType="submit" type="secondary">{{ $t('Save') }}</vk-button>
        </p>
      </form>
    </vk-modal>

    <vk-modal :show.sync="deletePopup">
      <h3>{{ $t('Are you sure you want to delete this narrator?') }} </h3>
      <p>{{ $t('All testimonies associated with this narrator will also be deleted.') }} </p>
      <p class="uk-text-right">
        <vk-button @click="deletePopup = false" class="uk-margin-small-right" type="secondary">{{ $t('Cancel') }}</vk-button>
        <vk-button @click="deleteNarrator(narrator.id)" type="secondary">{{ $t('Delete') }}</vk-button>
      </p>
    </vk-modal>

    <vk-table :data="allNarrators.models"
              hoverable>
      <vk-table-column :title="$t('name')">
        <div slot-scope="{ row }">
          {{ (row._attributes.name === null) ? ("") : (row._attributes.name) }}
        </div>
      </vk-table-column>

      <vk-table-column :title="$t('person code')">
        <div slot-scope="{ row }">
          {{ (row._attributes.identifier === null) ? ("") : (row._attributes.identifier) }}
        </div>
      </vk-table-column>

      <vk-table-column :title="$t('date of birth')">
        <div slot-scope="{ row }">
          {{ (row._attributes.date_of_birth === null) ? ("") : (row._attributes.date_of_birth.toISOString().split('T')[0]) }}
        </div>
      </vk-table-column>

      <vk-table-column :title="$t('phone number')">
        <div slot-scope="{ row }">
          {{ (row._attributes.phone === null) ? ("") : (row._attributes.phone) }}
        </div>
      </vk-table-column>

      <vk-table-column :title="$t('other contact')">
        <div slot-scope="{ row }">
          {{ (row._attributes.alternative_communication === null) ? ("") : (row._attributes.alternative_communication) }}
        </div>
      </vk-table-column>

      <vk-table-column :title="$t('action')" cell="row._attribute.id">
        <div slot-scope="{ row }">
          <vk-button @click="setNarrator(row._attributes, 'edit')" class="edit-button">
            <vk-icons-pencil/>
          </vk-button>
          <vk-button @click="setNarrator(row._attributes, 'delete')" class="edit-button">
            <vk-icons-trash/>
          </vk-button>
        </div>
      </vk-table-column>

    </vk-table>
  </div>
</template>

<script>

import axios from 'axios'
import Person from '@/models/person.js'
import PersonCollection from '@/collections/PersonCollection'

export default {
  name: 'Narrators',
  data: function () {
    return {
      allNarrators: new PersonCollection(),
      narrator: new Person(),
      editPopup: false,
      deletePopup: false,
    }
  },
  created: function () {
    this.allNarrators.fetch()
  },
  methods: {

    addNarrator: function() {
      if (this.allNarrators.has(this.narrator)) {
        const updatedNarrator = {
          id: this.narrator.id,
          identifier: this.narrator.identifier,
          date_of_birth: this.narrator.date_of_birth.toISOString().split('T')[0],
          name: this.narrator.name,
          address: this.narrator.address,
          phone: this.narrator.phone,
          alternative_communication: this.narrator.alternative_communication,
        }
        axios.patch(`/persons/${this.narrator.id}/`, updatedNarrator, {
          headers: {
            'Content-Type': 'application/json',
          }
        }).then((response) => console.log(response.data)) //eslint-disable-line
      }
      else {
        axios.post('/persons/', { name: this.narrator.name,
                                  identifier: this.narrator.name,
                                  date_of_birth: this.narrator.date_of_birth.toISOString().split('T')[0],
                                  address: this.narrator.address,
                                  phone: this.narrator.phone,
                                  alternative_communication: this.narrator.alternative_communication})
             .then((response) => {
               this.narrator.id = response.data.id
               this.narrator.identifier = response.data.identifier
               this.narrator.save()
               this.allNarrators.add(this.narrator)
             })
      }
    },
    setNarrator: function(narrator, action) {
      (action === 'edit') ? (this.editPopup = true) : (this.deletePopup = true)

      if (narrator) {
        this.narrator = narrator
      }
      else {
        this.narrator = new Person()
      }
    },
    deleteNarrator: function(narrator_id) {
      axios.delete(`/persons/${narrator_id}`).then(() => {
        this.allNarrators.remove({id: narrator_id})
        this.deletePopup = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
body {
  border: solid 1px lightgray;
}
.uk-table {
  border: solid 1px lightgray;
}
.edit-button {
  border: none;
  margin: -10px;
}
</style>
