<template>
  <vk-card @click="expanded = !expanded"
           :padding="paddingSize"
           class="uk-margin-bottom"
           id="segment-card">

    <span v-if="expanded & !display"
           class="play-segment uk-position-top uk-margin-small-top uk-margin-small-left uk-margin-small-right">
      <vk-icon icon="play-circle"
               @click.stop="playFrom"
               class="play"/> <!-- TODO: position more nicely -->
    </span>

    <!-- preview -->
    <!-- <transition name="expand">
    </transition> -->
    <vk-grid v-if="!expanded | display">
      <div class="uk-width-auto"
           @click.stop="playFrom">
        <vk-icon icon="play-circle" class="play"/>
      </div>
      <div class="uk-width-auto">
        {{ segment.start }}
      </div>
      <div class="uk-width-expand">
        <p id="segment-title"> {{ segment.title }} </p>
        <div v-if="expanded & display">
          <h5 id="segment-summary"> SUMMARY </h5>
          <p> {{segment.summary}} </p>
        </div>
      </div>
    </vk-grid>



    <!-- edit form -->
    <form @click.stop
          @submit.prevent="saveSegment"
          v-if="expanded & !display"
          v-vk-margin>

      <!-- segment start -->
      <div class="uk-width-1-1">
        <label class="uk-form-label">
          <input type="text"
                placeholder="00:00:00"
                required
                pattern="(\d{2}:)?(\d{2}:)?(\d{2})"
                v-model.trim="segment.start"
                @change="saveSegment"
                class="uk-input uk-form-width-medium">
        </label>
      </div>

      <!-- segment title -->
      <div class="uk-width-1-1">
        <label class="uk-form-label">
          {{ $t('segment.title') }}
          <input type="text"
                v-model.trim="segment.title"
                class="uk-input"
                @input="changeCount += 2">
        </label>
      </div>

      <!-- summary -->
      <div class="uk-width-1-1">
        <label class="uk-form-label" >
          {{ $t('segment.summary') }}
          <textarea v-model="segment.summary"
                    class="uk-textarea"
                    rows="5"
                    @input="changeCount += 1"/>
        </label>
      </div>

      <!-- subjects -->
      <div class="uk-width-1-1">
        <label for="subjects" class="uk-form-label">
          {{ $t('segment.subjects') }}
        </label>
        <v-select v-model="selectedSubjects"
                  taggable
                  multiple
                  :options="subjectOptions"
                  @input="saveSegment">
        </v-select>
      </div>

      <!-- keywords -->
      <div class="uk-width-1-1">
        <label for="subjects" class="uk-form-label">
          {{ $t('segment.keywords') }}
        </label>
        <v-select v-model="selectedKeywords"
                  taggable
                  multiple
                  :options="keywordOptions"
                  @input="saveSegment">
        </v-select> <!-- TODO: fix vselect style! -->
      </div>
    </form>
  </vk-card>
</template>

<script>

import _ from 'lodash'
import vSelect from 'vue-select'
import 'vue-select/src/scss/vue-select.scss'

import { mapState } from 'vuex'

import { EventBus } from '@/event-bus.js'
import Segment from '@/models/segment.js'

export default {
  name: 'SegmentCard',
  components: {
    vSelect,
  },
  props: {
    id: {
      type: Number,
      required: false,
      default: null,
    },
    opened: {
      type: Boolean,
      required: false,
      default: false,
    },
    subjectOptions: {
      type: Array,
      required: false,
      default: null,
    },
    keywordOptions: {
      type: Array,
      required: false,
      default: null,
    },
    inputSegment: {
      type: Object,
      required: false,
      default: null,
    },
  },
  data: function () {
    return {
      segment: new Segment(),
      expanded: false,
      display: true,
      changeCount: 0,
    }
  },
  mounted: function () {
    if (this.inputSegment === null) {
      this.display = false
      this.loadSegment()
    }
    else {
      this.display = true
      this.segment = this.inputSegment
    }

  },
  watch: {
    id: function () {
      this.loadSegment()
    },
    changeCount: function () {
      if (this.changeCount > 20) {
        this.saveSegment()
        this.changeCount = 0
      }
    }
  },
  computed: {
    ...mapState(['currentTestimony', ]),
    selectedSubjects: {
      get: function () {
        return _.filter(this.subjectOptions, (subject) => this.segment.subject.includes(subject.value))
      },
      set: function (newSubjects) {
        this.segment.subject = newSubjects.map(subject => subject.value)
      }
    },
    selectedKeywords: {
      get: function () {
        return _.filter(this.keywordOptions, (keyword) => this.segment.keywords.includes(keyword.value))
      },
      set: function (newKeywords) {
        this.segment.keywords = newKeywords.map(keyword => keyword.value)
      }
    },
    paddingSize: function () {
      return this.expanded ? '' : 'small'
    }
  },
  methods: {
    //...mapActions([ ]),
    loadSegment: function () {
      if (this.id) {
        this.segment.id = this.id
        this.segment.fetch()
      } else {
        this.expanded = true
      }
    },
    playFrom: function () {
      EventBus.$emit('play-from', this.segment.start)
    },
    saveSegment: function () {
      // the only thing required to create a segment a start timestamp
      if (this.segment.start) {
        this.segment.testimony = this.currentTestimony.id
        this.segment.save()
        EventBus.$emit('update-timestamps')
      }
    },
    // log: function () {
    // }
  },
}
</script>

<style lang="scss" scoped>
#segment-card {
  border: 1px #c6cdd4 solid;
  box-shadow: none;
}
#segment-title {
  // font-size: 22px;
}
#segment-summary {
  margin-bottom: -15px;
  font-size: 12px;
  font-weight: bold;
}
.play {
  color: hsla(0, 0%, 40%, 1);
  :hover {
    color: hsla(0, 0%, 30%, 1);
    cursor: pointer;
     transform: scale(1.1);
  }
}

.expand-enter-active {
  animation: expand-in .5s;
}
.expand-leave-active {
  animation: expand-in .5s reverse;
}
@keyframes expand-in {
  0% {
    //transform: scale(0);
    height: 0;
  }
  // 50% {
  //   // transform: scale(1.5);
  //   height: 70%;
  // }
  100% {
    // transform: scale(1);
    height: auto;
  }
}
</style>

<i18n>
{
  "en": {
    "segment": {
      "title": "Title",
      "summary": "Summary",
      "subjects": "Subjects",
      "keywords": "Keywords"
    }
  },
  "ar": {
  }
}
</i18n>
