<template>
  <vk-card class="small-testimony-card"
           type="default"
           padding="small"
           @mouseover="active = true"
           @mouseleave="active = false">

    <audio @timeupdate="updateOffset" :src="file"></audio>
    <svg class="player" version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
      <g class="progress">
        <circle class="total" cx="50%" cy="60%" r="30%"/>
        <circle class="completed" cx="50%" cy="60%" r="33%" v-show="playing"/>
      </g>

      <g class="control pause" v-if="active">
        <line x1="85" y1="82" x2="85" y2="98" stroke="#000000" fill="none" stroke-width="4" stroke-linecap="square" />
        <line x1="96" y1="82" x2="96" y2="98" stroke="#000000" fill="none" stroke-width="4" stroke-linecap="square" />
      </g>
      <g class="control play" v-if="!active">
        <path d="M85 80 L85 100 100 90 Z" />
      </g>

    </svg>
    <div v-bind:class="{'hide-title': !active}">
      {{ title }}
    </div>
  </vk-card>
</template>

<script>

// import { setInterval, clearInterval, setTimeout } from "timers";
// https://upload.wikimedia.org/wikipedia/commons/9/97/Muwashah_lamma_bada_yatathanna.OGG

export default {
  name:'SmallTestimonyCardDemo',
  props: {
    title: String,
    file: String,
  },
  data: function () {
    return {
      active: false,
      playing: false,
      duration: Number,
      currentTime: Number,
      correctedFile: ''
    }
  },
  mounted: function () {
    this.audio = this.$el.getElementsByTagName('audio')[0]
  },

  watch: {
    active: function () {
      if (this.active) {
        this.audio.play()

      } else {
        this.audio.pause()
        this.playing = false
      }
    }
  },
  methods: {
    updateOffset: function(){
      if (this.active) {
        this.playing = true
      }

      this.duration = this.audio.duration
      this.currentTime = this.audio.currentTime

      var progress = this.currentTime / this.duration;
      var offset = (1 - progress) * 360;

      this.circle = this.$el.querySelector('.completed');
      this.circle.style.strokeDashoffset = offset;
    }
  },
}
</script>

<style lang="scss" scoped>
.small-testimony-card {
  border: 1px #c6cdd4 solid;
  margin: 1rem;
  height: 15rem;
  width: 15rem;
  text-align: center;
  box-shadow: none;
}

.hide-title {
  display: none;
}

.player {
  .progress {
    .total {
      stroke: #000000;
      stroke-opacity: 0.25;
      stroke-linecap: round;
      stroke-width: 1;
      stroke-dasharray: 3;
      fill: none;
    }
    .completed {
      transition: stroke-dashoffset;
      stroke-dasharray: 360;
      // stroke-dashoffset: 360;
      stroke: #dd6b50;
      stroke-linecap: round;
      stroke-width: 2.5;
      fill: none;
      // display: inline-block;
    }
  }
}
</style>
