<template>
  <div class="uk-panel uk-margin-right">
    <div class="uk-panel">
      <label class="uk-form-label" for="show-items-by">{{ $t('Sort') }}: </label>
      <select id="show-items-by" class="uk-select uk-width-1-6">
        <option selected="selected">{{ $t('Alphabetical') }}</option>
        <option>{{ $t('my subjects') }}</option>
      </select>
      <vk-button type="secondary"
                 @click="popup = true"
                 class="uk-position-right">
        + {{ $t('new subject') }}
      </vk-button>
    </div>

    <vk-modal :show.sync="popup">
      <form @submit.prevent="addSubject" class="uk-form-stacked">
        <legend class="uk-legend">{{ $t('New subject') }}</legend>
        <div class="uk-margin">
          <input v-model="subject.name"
                 class="uk-input uk-form-medium"
                 type="text"
                 :placeholder="$t('Add subject')">
        </div>

        <p class="uk-text-right">
          <vk-button @click="popup = false" class="uk-margin-small-right" type="secondary">{{ $t('Cancel') }}</vk-button>
          <vk-button @click="popup = false" htmlType="submit" type="secondary">{{ $t('Save') }}</vk-button>
        </p>
      </form>
    </vk-modal>

    <vk-modal :show.sync="deletePopup">
      <label class="uk-form-label" for="show-items-by">{{ $t('Delete subject?') }} </label>
      <p class="uk-text-right">
        <vk-button @click="deletePopup = false" class="uk-margin-small-right" type="secondary">{{ $t('Cancel') }}</vk-button>
        <vk-button @click="deleteSubject" type="secondary">{{ $t('Delete') }}</vk-button>
      </p>
    </vk-modal>

    <div class="uk-width-1-1 uk-margin-top">
      <h3 class="title"> {{ $t('Subjects') }} </h3>

      <div v-for="subject in this.allSubjects.models" v-bind:key="subject.id">
        <vk-button @click="setSubject(subject)" type="default delete-button">
          <span class="uk-badge subject">
            {{subject.name}}
          </span>
        </vk-button>
      </div>
    </div>
  </div>
</template>

<script>

import axios from 'axios'
import Subject from '@/models/subject.js'
import SubjectCollection from '@/collections/SubjectCollection'

export default {
  name: 'Subjects',
  data: function () {
    return {
      allSubjects: new SubjectCollection(),
      subject: new Subject(),
      popup: false,
      deletePopup: false,
    }
  },
  created: function () {
    this.allSubjects.fetch()
  },
  methods: {
    addSubject: function() {
      axios.post('/subjects/', {name: this.subject.name}).then((response) => {
        this.subject.id = response.id
        this.subject.save()
        this.allSubjects.add(this.subject)
      })
    },
    deleteSubject: function() {
      // TODO axios call

      this.allSubjects.remove(this.subject)
      this.subject = new Subject()
      this.deletePopup = false
    },
    setSubject: function(subject) {
      this.deletePopup = true
      this.subject = subject
    }
  }
}
</script>

<style lang="scss" scoped>
body {
  border: solid 1px lightgray;
}
.uk-table {
  border: solid 1px lightgray;
}
.edit-button {
  border: none;
  margin: -10px;
}
.subject {
  background: #CCCCCC;
  color: black;
}
.title {
  font-size: 20px;
}
.delete-button {
  float: left;
  display: inline;
  margin: 5px;
  border: none;
  padding: 0px;
  text-transform: lowercase;
}
</style>
