<template>
  <div id="page">
    <div id="info-box">
      <div>
        <p v-if="series"> {{series.name}} </p>
        <h3 id="testimony-title">{{currentTestimony.title}}</h3>
      </div>

      <div>
        <h5> SUMMARY </h5>
        <p id="summary"> {{currentTestimony.description}} </p>
        <p></p>
      </div>

      <div>
        <h5> LOCATION </h5>
        <p id="location"> {{currentTestimony.location}} </p>
      </div>

      <div>
        <h5> DATE </h5>
        <p id="date"> {{currentTestimony.date}} </p>
      </div>

      <div>
        <h5> PUBLISHER </h5>
        <p id="publisher"> {{publisher}} </p>
      </div>

      <div id="subjects-keywords">
        <div>
          <h5> SUBJECTS </h5>
          <div id="subjects" v-for="subject in this.subjects" v-bind:key="subject.id">
            <span class="uk-badge keyword">{{subject.text}}</span>
          </div>
        </div>

        <div>
          <h5> KEYWORDS </h5>
          <div id="keywords" v-for="keyword in this.keywords" v-bind:key="keyword.id">
            <span class="uk-badge keyword">{{keyword.text}}</span>
          </div>
        </div>
      </div>
    </div>

    <hr class="line"/>

    <div id="player">
      <horizontal-player :file="currentTestimony.file" :title="currentTestimony.title" :timestamps="passTimestamps()"></horizontal-player>
    </div>

    <hr class="line"/>

    <vk-tabs id="tabs">
      <vk-tabs-item :title="$t('Transcript')" class="transcript-tab">
        <p> {{transcript}} </p>
      </vk-tabs-item>

      <vk-tabs-item :title="$t('Segmentation')">
        <div id="segments" v-for="segment in this.segments" v-bind:key="segment.id">
          <segment-card :inputSegment="segment"></segment-card>
        </div>
      </vk-tabs-item>
    </vk-tabs>

  </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'
import HorizontalPlayer from '@/components/HorizontalPlayer'
import SegmentCard from '@/components/SegmentCard'
import axios from 'axios'

export default {
  name: 'TestimonyDetail',
  components: {
    HorizontalPlayer,
    SegmentCard,
  },
  data: function () {
    return {
      title: null,
      transcript: '',
      publisher: '',
      keywords: [],
      subjects: [],
      segments: [],
      audiofile: '',
    }
  },
  computed: {
    ...mapState(['currentTestimony', 'series'])
  },
  methods: {
    ...mapActions(['getSeries', 'setCurrentTestimony']),

    getPublisher: function() {
      var publisherPath = '/publishers/' + this.currentTestimony.publisher + '/'
      var that = this

      axios.get(publisherPath).then(function (response) {
        that.publisher = response.data.name
      })
    },

    getTranscript: function() {
      var transcriptPath = '/transcripts/' + this.currentTestimony.transcript
      var that = this

      axios.get(transcriptPath).then(function (response) {
        that.transcript = response.data.text
      })
    },

    getSubjects: function() {
      const testimonySubjects = this.currentTestimony.subject
      var that = this

      for (var i = 0; i < testimonySubjects.length; i++) {
        const subjectsPath = '/subjects/' + testimonySubjects[i]

        axios.get(subjectsPath).then(function (response) {
          that.subjects.push({id: testimonySubjects[i], text: response.data.name})
        })
      }
    },

    getKeywords: function() {
      const testimonyKeywords = this.currentTestimony.keywords
      var that = this

      for (var i = 0; i < testimonyKeywords.length; i++) {
        const keywordsPath = '/keywords/' + testimonyKeywords[i]

        axios.get(keywordsPath).then(function (response) {
          that.keywords.push({id: testimonyKeywords[i], text: response.data.name})
        })
      }
    },

    getSegments: function() {
      var that = this
      const segmentsPath = '/testimonies/' + this.currentTestimony.id + '/segments/'

      axios.get(segmentsPath).then(function (response) {
        that.segments = response.data
      })
    },

    passTimestamps: function() {
      var timestamps = []

      for (var i=0; i< this.segments.length; i++) {
        timestamps.push({id: this.segments[i].id, time: this.segments[i].start})
      }

      return timestamps
    }
  },

  created: function () {
    axios.defaults.baseURL = process.env.VUE_APP_ROOT_API

    this.getPublisher()
    this.getTranscript()
    this.getSubjects()
    this.getKeywords()
    this.getSegments()
  }
}
</script>

<style lang="scss">
#page {
  width: auto;
}
.transcript-tab {
  background: #EEEEEE;
  margin-left: 0px;
}
.line {
  // border-top: 2px solid #ccc;
  margin-left: -25px;
  clear: both;
}
#testimony-title {
  font-weight: bold;
  margin-top: -10px;
}
#info-box {
  // border: 5px solid #ccc;
  width: 700px;
  padding: 20px;
  font-size: 13px;
  margin-left: 80px;
  margin-right: 50px;
  margin-top: 20px;
}
#tabs {
  margin-left: 100px;
  margin-top: -15px;
}
#subjects-keywords {
  // border: 5px solid #ccc;
  margin-left: 750px;
  margin-top: -220px;
  position: absolute;
  width: auto;
}
#segments {
  width: 1000px;
}
.keyword {
  background: #CCCCCC;
  color: black;
  display: inline;
  margin: 1px;
  float: left;
}
#keywords {
  margin-top: -15px;
}
#subjects {
  margin-top: -15px;
}
#summary {
  margin-top: -20px;
}
#location {
  margin-top: -20px;
}
#date {
  margin-top: -20px;
}
#publisher {
  margin-top: -20px;
}
#player {
  padding: 0px;
  font-size: 13px;
  margin-left: 100px;
  margin-right: 20px;
}
#tabs {
  width: 1000px;
}
#navbar {
  border: 1px #c6cdd4 solid;
  padding: 20px;
  font-size: 13px;
}
#transcript {
  border: 1px #c6cdd4 solid;
  padding: 20px;
  font-size: 13px;
}
audio {
  width: auto;
  // margin-left: auto;
}

</style>
