<template>
  <vk-grid v-if="currentTestimony">
    <div class="uk-width-3-4 uk-padding-remove-vertical uk-margin-large-left">
      <vk-grid>
        <div v-for="record in history.models" v-bind:key="record.history_id" class="record-card">  <!-- this used to be a template -->
          <div class="uk-align-left uk-inline edit-date">
            <span class="uk-position-center-right">{{ beautifyDate(record.history_date) }}</span>
          </div>
          <div v-bind:key="record.history_id">
            <vk-card type="default activity-card">
              <span class="uk-position-left uk-padding-small">
                <p>{{ $t('historyCardMessage', {history_user: record.change_user} ) }} {{ record.change_fields.join(', ') }}</p>
              </span>
              <vk-button type="link"
                        @click="displayRestoreModal(record)">
                <span class="uk-position-bottom-left uk-padding-small back">
                {{ $t('restore') }}
                </span>
              </vk-button>
            </vk-card>
          </div>
        </div>
      </vk-grid>
    </div>
    <vk-modal :show.sync="showRestoreModal">
      <p>{{ $t('restoreConfirmationModal.message') }}</p>
      <p>{{ beautifyDate(selectedRecord.history_date) }} {{ $t('restoreConfirmationModal.at') }} {{ beautifyTime(selectedRecord.history_date) }}</p>
      <p class="uk-text-right">
        <vk-button @click="showRestoreModal = false" class="uk-margin-small-right">{{ $t('restoreConfirmationModal.cancel') }}</vk-button>
        <vk-button type="primary" @click="restoreRecord">{{ $t('restoreConfirmationModal.confirm') }}</vk-button>
      </p>
    </vk-modal>

  </vk-grid>
</template>

<script>
import axios from 'axios'
import dayjs from 'dayjs'

import { mapState, mapMutations } from 'vuex'

import HistoryCollection from '@/collections/HistoryCollection.js'

export default {
  name: 'TestimonyHistorySection',
  components: {
  },
  data: function () {
    return {
      testimonyID: null,
      history: new HistoryCollection(),
      showRestoreModal: false,
      selectedRecord: Object
    }
  },
  mounted: function () {
    this.testimonyID = this.currentTestimony.id
    this.history.fetch()
  },
  created: function () {
  },
  computed: {
    ...mapState(['currentTestimony', ]),
  },
  methods: {
    ...mapMutations(['setLastSaved', ]),
    beautifyDate: function (history_date) {
      return dayjs(history_date).format('YYYY-MM-DD')
    },
    beautifyTime: function (history_date) {
      return dayjs(history_date).format('HH:mm')
    },
    displayRestoreModal: function (record) {
      this.showRestoreModal = true
      this.selectedRecord = record
    },
    restoreRecord: function () {
      axios.post(`/testimonies/${this.currentTestimony.id}/restore/`, {'history_id': this.selectedRecord.history_id})
           .then(() => {
             this.showRestoreModal = false
             this.history.fetch()
             this.currentTestimony.fetch()
           })
    },
  },
  watch: {
    testimonyID: function (newTestimonyID) {  //oldTestimonyID
      if (newTestimonyID) {
        this.history.set('testimonyID', newTestimonyID)
        this.history.fetch()
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.activity-card {
  box-shadow: none;
  border: 1px #c6cdd4 solid;
  height: 100px;
}
.back {
  color: black;
  text-decoration: underline;
}
.edit-date {
  margin-top: 10px;
  margin-left: -18px;
}
.record-card {
  width: 800px;
}

</style>

<i18n>
{
  "en": {
    ",": ", ",
    "historyCardMessage": "User \"{history_user}\" changed the following fields: ",
    "restoreConfirmationModal": {
      "message": "Are you sure you want to restore the testimony record to the version from the following date?",
      "at": "at",
      "confirm": "Restore",
      "cancel": "cancel"
    },
    "restore": "Restore this version"
  },
  "ar": {
  }
}
</i18n>
