<template>
  <div>
    <vk-grid v-if="currentTestimony">
      <div class="uk-width-expand uk-padding-remove-top uk-margin-large-right">
        <div>

          <div v-if="currentTestimony.file">

            <form @submit.prevent="submitFileForm" ref="fileForm">

              <div class="">
                <legend class="uk-legend">
                  <h3 class="uk-margin-remove-bottom">{{ currentTestimony.file.split('/').pop() }}</h3>
                </legend>
                <span>{{ currentTestimony.file_size }}</span>
              </div>

              <div class="uk-align-right">
                <vk-button :v-if="currentTestimony"
                           type="default"
                           @click="removeFile(false)"
                           tabindex="-1">
                  {{ $t('removeFile') }}
                </vk-button>

                <span class="uk-form-custom">
                  <input type="file" @change="submitFileForm(false)" ref="originalFile">
                  <vk-button type="default"
                             htmlType="submit"
                             tabindex="-1">
                    {{ $t('changeFile') }}
                  </vk-button>
                </span>
              </div>

              <div class="uk-card playerbox">
                <horizontal-player id="player-in-box"
                                   :file="currentTestimony.file">
                </horizontal-player>
              </div>

            </form>

          </div>

          <!-- <div v-else class="uk-text-center">
            <span class="uk-form-custom">
              <input type="file" @change="submitFileForm(false)" ref="originalFile">
              <vk-button type="default"
                         htmlType="submit"
                         tabindex="-1">
                {{ $t('uploadNewFile') }}
              </vk-button>
            </span>
          </div> -->

          <div v-else class="uk-width-1-1 uk-margin-small-top">
            <div class="uk-text-center uk-width-1-1">
              <span class="uk-form-custom uk-width-1-1">
                <input type="file" @change="submitFileForm(false)" ref="originalFile">
                <vk-button class="uk-width-1-1"
                           type="secondary"
                           htmlType="submit"
                           tabindex="-1">
                  {{ $t('uploadNewFile') }}
                </vk-button>
              </span>
            </div>
          </div>

        </div>

        <!-- anonymized version -->
        <div class="uk-width-1-1">
          <div v-if="currentTestimony.anonymized_file" class="uk-width-1-1 uk-margin-large-top">
            <form @submit.prevent="submitFileForm" ref="fileForm">

              <div class="">
                <legend class="uk-legend">
                  <h3 class="uk-margin-remove-bottom">{{ currentTestimony.anonymized_file.split('/').pop() }}</h3>
                </legend>
                <span>{{ currentTestimony.anonymized_file_size }}</span>
              </div>

              <div class="uk-align-right">
                <vk-button :v-if="currentTestimony"
                           type="default"
                           class=""
                           @click="removeFile(true)"
                           tabindex="-1">
                  {{ $t('removeFile') }}
                </vk-button>

                <span class="uk-form-custom">
                  <input type="file" @change="submitFileForm(true)" ref="anonymizedFile">
                  <vk-button htmlType="submit"
                             tabindex="-1">
                    {{ $t('changeFile') }}
                  </vk-button>
                </span>
              </div>

              <div class="uk-card playerbox">
                <horizontal-player v-if="currentTestimony"
                                  :file="currentTestimony.anonymized_file">
                </horizontal-player>
              </div>
            </form>

            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
              <label><input class="uk-checkbox" type="checkbox" v-model="useAnonVersion"> {{ $t('useAnonVersion') }}</label>
            </div>
          </div>

          <div v-else class="uk-width-1-1 uk-margin-small-top">
            <div class="uk-text-center uk-width-1-1">
              <span class="uk-form-custom uk-width-1-1">
                <input type="file" @change="submitFileForm(true)" ref="anonymizedFile">
                <vk-button class="uk-width-1-1"
                           type="secondary"
                           htmlType="submit"
                           tabindex="-1">
                  {{ $t('uploadAnonymizedFile') }}
                </vk-button>
              </span>
            </div>
          </div>

        </div>
      </div>

      <!-- delete confirmation  -->
      <vk-modal :show.sync="showFileRemoveModal">
        <vk-modal-title>{{ $t('fileRemoveModal.title') }}</vk-modal-title>
        <p>{{ $t('fileRemoveModal.body') }}</p>
        <p class="uk-text-right">
          <vk-button @click="showFileRemoveModal = false" class="uk-margin-large uk-margin-remove-vertical">{{ $t('fileRemoveModal.cancel') }}</vk-button>
          <vk-button type="danger"
                     @click="removeFile(true)">
            {{ $t('fileRemoveModal.delete') }}
          </vk-button>
        </p>
      </vk-modal>

      <!-- workflow status  -->
      <div class="uk-width-1-4">
        <workflow-status :v-if="currentTestimony.files_workflow"
                         :workflow="currentTestimony.files_workflow"
                         :public="currentTestimony.files_public"
                         :hideLanguage="true"
                         @public-state-change="updatePublicStatus"/>
      </div>
    </vk-grid>
  </div>
</template>

<script>
import axios from 'axios'

import { mapState, mapActions } from 'vuex'

import SegmentCollection from '@/collections/SegmentCollection.js'
import WorkflowStatus from '@/components/WorkflowStatus'
import HorizontalPlayer from '@/components/HorizontalPlayer'

export default {
  name: 'TestimonyFilesSection',
  components: {
    WorkflowStatus,
    HorizontalPlayer,
  },
  data: function () {
    return {
      showFileRemoveModal: false,
      segments: new SegmentCollection(),
    }
  },
  computed: {
    ...mapState(['currentTestimony', ]),
    useAnonVersion: {
      get () {
        return this.$store.state.useAnonVersion
      },
      set (useAnonVersion) {
        this.$store.commit('setUseAnonVersion', useAnonVersion)
      }
    }
  },
  methods: {
    ...mapActions(['updateCurrentTestimony', ]),
    submitFileForm: function(anonymized){
      let formData = new FormData()
      if (anonymized) {
        formData.append('anonymized_file', this.$refs.anonymizedFile.files[0])
      } else {
        formData.append('file', this.$refs.originalFile.files[0])
      }
      axios.patch(`testimonies/${this.currentTestimony.$.id}/upload_file/`, formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
        }
      }).then(() => {
        this.updateCurrentTestimony()
        window.location.reload()
      })
        // .catch(error => console.log(error)) //TODO: handle this properly
    },
    removeFile: function(anonymized) {
      this.showFileRemoveModal = true

      let data = {}
      if (anonymized) {
        data['file'] = null
        data['anonymized_file'] = 'a'
      }
      else {
        data['anonymized_file'] = null
        data['file'] = 'a'
      }
      axios.patch(`testimonies/${this.currentTestimony.$.id}/remove_file/`, data)
           .then(() => {
              this.updateCurrentTestimony()
              this.showFileRemoveModal = false
              window.location.reload()
            })
    },
    updatePublicStatus: function (newStatus) {
      this.currentTestimony.files_public = newStatus
    },
  }
}
</script>

<style lang="scss" scoped>

.playerbox {
  border: solid 1px #c6cdd4;
  box-shadow: none;
  margin-top: 50px;
  height: 120px;
  padding: 20px;
}

</style>

<i18n>
{
  "en": {
    "uploadNewFile": "+ Add regular version",
    "changeFile": "Change file",
    "uploadAnonymizedFile": "+ Add anonymized version",
    "uploadNewAnonymizedFile": "Change anonymized file",
    "removeFile": "Remove file",
    "noFile": "No file present",
    "useAnonVersion": "Use anonymized version in the editing process",
    "fileRemoveModal": {
      "title": "Are you sure you want to remove the file?",
      "body": "You cannot undo this action",
      "cancel": "cancel",
      "delete": "delete"
    }
  },
  "ar": {
  }
}
</i18n>
