<template>
  <vk-grid v-if="currentTestimony" class="uk-margin-large-bottom">
    <div class="uk-width-expand uk-padding-remove-vertical uk-margin-large-right">
    <form @submit.prevent="saveTestimony">
      <vk-grid class="u1k-margin-large-bottom">
        <!-- title -->
        <div class="uk-width-1-1">
          <label class="uk-form-label">
            {{ $t('testimony.title') }}
            <vk-icon icon="info"
                     ratio="0.7"
                     v-vk-tooltip="$t('tooltip.title')">
            </vk-icon>
            <input v-model.trim="currentTestimony.title" class="uk-input uk-form-large" type="text" >
          </label>
        </div>

        <!-- summary -->
        <div class="uk-width-1-1">
          <label class="uk-form-label" >
            {{ $t('testimony.summary') }}
            <textarea v-model="currentTestimony.description" class="uk-textarea" rows="5"></textarea>
          </label>
        </div>

        <!-- collection -->
        <div class="uk-width-1-2">
          <label class="uk-form-label">
            {{ $t('testimony.collection') }}
            <select v-model="currentTestimony.relation" class="uk-select">
              <option v-for="collection in series.models"
                      v-bind:key="collection.id"
                      :value="collection.id">
                {{ collection.name }}
              </option>
            </select>
          </label>
        </div>

        <!-- publisher -->
        <div class="uk-width-1-2">
          <label class="uk-form-label">
            {{ $t('testimony.publisher') }}
            <select v-model="currentTestimony.publisher" class="uk-select">
              <option v-for="publisher in publishers.models"
                      v-bind:key="publisher.id"
                      :value="publisher.id">
                {{ publisher.name }}
              </option>
            </select>
          </label>
        </div>

        <!-- location -->
        <div class="uk-width-1-2">
          <label class="uk-form-label">
            {{ $t('testimony.location') }}
            <input v-model="currentTestimony.location" class="uk-input" type="text">
          </label>
        </div>

        <!-- date -->
        <div class="uk-width-1-2">
          <label class="uk-form-label">
            {{ $t('testimony.date') }}
            <input type="date"
                   :value="currentTestimony.date && currentTestimony.date.toISOString().split('T')[0]"
                   @input="currentTestimony.date = $event.target.valueAsDate"
                   class="uk-input" >
          </label>
        </div>

        <!-- locations mentioned -->
        <div class="uk-width-1-2">
          <label class="uk-form-label">
            {{ $t('testimony.locations') }}
            <input v-model="locations" class="uk-input" type="text">
          </label>
        </div>

        <!-- date range start -->
        <div class="uk-width-1-4">
          <label class="uk-form-label">
            {{ $t('testimony.daterangestart') }}
            <select v-model="startDate" class="uk-select"> <!-- TODO: get this 50 years number from global settings -->
              <option v-for="n in 50"
                      v-bind:key="n"
                      :value="currentYear + 1 - n">
                {{ currentYear + 1 - n }}
              </option>
            </select>
          </label>
        </div>

        <!-- date range end -->
        <div class="uk-width-1-4">
          <label class="uk-form-label">
            {{ $t('testimony.daterangeend') }}
            <select v-model="endDate" class="uk-select"> <!-- TODO: get this 50 years number from global settings -->
              <option v-for="n in 50"
                      v-bind:key="n"
                      value="currentYear + 1 - n">
                {{ currentYear + 1 - n }}
              </option>
            </select>
          </label>
        </div>

        <!-- narrator -->
        <div class="uk-width-1-2">
          <label class="uk-form-label">
            {{ $t('testimony.narrator') }}
            <select v-model="currentTestimony.creator" class="uk-select">
              <option v-for="narrator in narrators.models"
                      v-bind:key="narrator.id"
                      :value="narrator.id">
                {{ narrator.name }}
              </option>
            </select>
          </label>
        </div>

        <!-- interviewer -->
        <div class="uk-width-1-2">
          <label class="uk-form-label">
            {{ $t('testimony.interviewer') }}
            <select v-model="currentTestimony.contributor" class="uk-select">
              <option v-for="interviewer in interviewers.models"
                      v-bind:key="interviewer.id"
                      :value="interviewer.id">
                {{ interviewer.name }}
              </option>
            </select>
          </label>
        </div>

        <!-- subjects -->
        <div class="uk-width-1-1">
          <label for="subjects" class="uk-form-label">
            {{ $t('testimony.subjects') }}
          </label>
          <v-select v-model="selectedSubjects"
                    taggable
                    multiple
                    :options="subjectOptions">
          </v-select>  <!-- TODO: fix my style! -->
        </div>

        <!-- keywords -->
        <div class="uk-width-1-1">
          <label class="uk-form-label">
            {{ $t('testimony.keywords') }}
          </label>
          <v-select v-model="selectedKeywords"
                    taggable
                    multiple
                    :options="keywordOptions">
          </v-select>
        </div>

        <!-- original language -->
        <div class="uk-width-1-2">
          <label class="uk-form-label">
            {{ $t('testimony.language') }}
            <select v-model="currentTestimony.language" class="uk-select">
              <option disabled="true">{{ $t('selectALanguage') }}</option>
              <option v-for="language in languages" v-bind:key="language[0]" value="language[0]">{{ language[1] }}</option>
            </select>
          </label>
        </div>

        <!-- license -->
        <div class="uk-width-1-2">
          <label class="uk-form-label">
            {{ $t('testimony.license') }}
            <select v-model="currentTestimony.rights" class="uk-select">
              <option disabled="true">{{ $t('selectALicense') }}</option>
              <option v-for="license in licenses" v-bind:key="license[0]" value="license[0]">{{ license[1] }}</option>
            </select>
          </label>
        </div>

        <div class="divider uk-width-1-1 uk-margin-medium-left"></div>

        <!-- SECTION: Release information -->
        <div class="uk-width-1-1 uk-padding-remove-vertical">
          <h4>{{ $t('releaseInformation') }}</h4>
        </div>

        <!-- Release date -->
        <div class="uk-width-1-2">
          <label class="uk-form-label">
            {{ $t('testimony.releaseDate') }}
            <input class="uk-input"
                   type="date"
                   :value="currentTestimony.release_date && currentTestimony.release_date"
                   @input="currentTestimony.release_date = $event.target.value ">
          </label>
        </div>

        <!-- Release form -->
        <div class="uk-width-1-2">
          <label class="uk-form-label">
            {{ $t('testimony.releaseForm') }}
            <br>
            <span class="uk-form-custom">
              <input type="file"
                     ref="releaseForm"
                     @input="submitReleaseForm">
              <vk-button htmlType="submit"
                         tabindex="-1">
                {{ currentTestimony.release_form ? $t('testimony.replace') : $t('testimony.upload') }}
              </vk-button>
            </span>
            <vk-button-link v-if="currentTestimony.release_form"
                            type="link"
                            :href="currentTestimony.release_form"
                            class="uk-margin-right uk-margin-left">
              {{ $t('viewReleaseForm') }}
            </vk-button-link>
          </label>
        </div>

        <div class="divider uk-width-1-1 uk-margin-medium-left"></div>

        <!-- SECTION: addtional files -->
        <div class="uk-width-1-1 uk-padding-remove-vertical">
          <h4>{{ $t('additionalFiles') }}</h4>
        </div>

        <div class="uk-width-1-1">
          <vk-grid class="uk-child-width-1-3" v-vk-height-match="'> div > .uk-card'">
            <additional-file-card v-for="att in attachments.models"
                                  v-bind:key="att.id"
                                  v-on:delete-attachment-modal="deleteModal($event)"
                                  v-on:edit-attachment-modal="editModal($event)"
                                  :id="att.id"
                                  :name="att.$.name"
                                  :description="att.$.description"
                                  :preview="att.$.preview"
                                  :file="att.$.file"/>
          </vk-grid>
        </div>

        <div>
          <vk-button @click="showNewAttachmentModal = true"> {{ $t('attachment.add')}} </vk-button>
        </div>

      </vk-grid>
    </form>
    </div>


    <!-- workflow status sidebar modal -->
    <div class="uk-width-1-4">
      <workflow-status :workflow="currentTestimony.metadata_workflow"
                       :public="currentTestimony.metadata_public"
                       @public-state-change="updatePublicStatus"/>
    </div>

    <!-- delete attachment modal -->
    <vk-modal :show.sync="showDeleteModal">
      <p>{{ $t('deleteModal.text') }}</p>
      <p>"{{ attachment.name }}"</p>
      <p class="uk-text-right">
        <vk-button @click="showDeleteModal = false" class="uk-margin-small-right uk-margin-small-left">{{ $t('deleteModal.cancel') }}</vk-button>
        <vk-button @click="deleteAttachment" type="danger">{{ $t('deleteModal.delete') }}</vk-button>
      </p>
    </vk-modal>

    <!-- edit attachment modal -->
    <vk-modal :show.sync="showEditModal">
      <vk-modal-title>{{ attachment.name }}</vk-modal-title>
      <form>
        <label class="uk-form-label">
          {{ $t('attachment.name') }}
          <input v-model="attachment.name" class="uk-input" type="text">
        </label>
        <label class="uk-form-label" >
          {{ $t('attachment.description') }}
          <textarea v-model="attachment.description" class="uk-textarea" rows="5"></textarea>
        </label>
      </form>
      <p class="uk-text-right">
        <vk-button @click="showEditModal = false" class="uk-margin-small-right uk-margin-small-left">{{ $t('editModal.cancel') }}</vk-button>
        <vk-button @click="editAttachment" type="primary">{{ $t('editModal.save') }}</vk-button>
      </p>
    </vk-modal>

    <!-- new attachment modal -->
    <vk-modal :show.sync="showNewAttachmentModal" @show="attachment = new Attachment()">
      <vk-modal-title>{{ $t('attachment.newAttachment') }}</vk-modal-title>
      <form>
        <label class="uk-form-label">
          {{ $t('attachment.name') }}
          <input v-model="attachment.name" class="uk-input" type="text">
        </label>
        <label class="uk-form-label" >
          {{ $t('attachment.description') }}
          <textarea v-model="attachment.description" class="uk-textarea" rows="5"></textarea>
        </label>
        <span class="uk-form-custom">
          <label>
            {{ $t('attachment.file') }}
            <br>
            <input type="file"
                   ref="attachmentFile">
            <!-- TODO: show file name as preview https://getuikit.com/docs/form#file  -->
            <!-- <input class="uk-input uk-form-width-medium" type="text" :placeholder="$t('attachment.selectFile')" disabled> -->
            <vk-button htmlType="submit"
                       tabindex="-1">
              {{ $t('attachment.selectFile') }}
            </vk-button>
          </label>
        </span>
      </form>
      <p class="uk-text-right">
        <vk-button @click="showNewAttachmentModal = false" class="uk-margin-small-right uk-margin-small-left">{{ $t('editModal.cancel') }}</vk-button>
        <vk-button @click="createAttachment" type="primary">{{ $t('editModal.save') }}</vk-button>
      </p>
    </vk-modal>
  </vk-grid>
</template>

<script>
import axios from 'axios'
import vSelect from 'vue-select'
import 'vue-select/src/scss/vue-select.scss'

import { mapState, mapActions, mapMutations } from 'vuex'

import { EventBus } from '@/event-bus.js'

import WorkflowStatus from '@/components/WorkflowStatus'
import AdditionalFileCard from '@/components/AdditionalFileCard'

import Attachment from '@/models/attachment.js'
import PersonCollection from '@/collections/PersonCollection.js'
import PublisherCollection from '@/collections/PublisherCollection.js'
import SeriesCollection from '@/collections/SeriesCollection.js'
import SubjectCollection from '@/collections/SubjectCollection.js'
import KeywordCollection from '@/collections/KeywordCollection.js'
import AttachmentCollection from '@/collections/AttachmentCollection.js'

export default {
  name: 'TestimonyMetadataSection',
  components: {
    WorkflowStatus,
    AdditionalFileCard,
    vSelect,
  },
  data: function () {
    return {
      currentYear: new Date().getFullYear(),
      narrators: new PersonCollection(),
      interviewers: new PersonCollection(),
      series: new SeriesCollection(),
      publishers: new PublisherCollection(),
      subjects: new SubjectCollection(),
      keywords: new KeywordCollection(),
      languages: [],
      licenses: [],
      attachments: new AttachmentCollection(),
      attachment: new Attachment(),
      showDeleteModal: false,
      showEditModal: false,
      showNewAttachmentModal: false,
    }
  },
  computed: {
    ...mapState(['currentTestimony', ]),
    locations: {
      get: function () {
        return this.currentTestimony.coverage ? this.currentTestimony.coverage.split(';')[0] : ''
      },
      set: function (newLocations) {
        let current = this.currentTestimony.coverage
        let currentStartDate = current.split(';')[1].split('-')[0]
        let currentEndDate = current.split(';')[1].split('-')[1]
        this.currentTestimony.coverage = `${newLocations};${currentStartDate}-${currentEndDate}`
      }
    },
    startDate: {
      get: function () {
        return this.currentTestimony.coverage ? this.currentTestimony.coverage.split(';')[1].split('-')[0] : ''
      },
      set: function (newStartDate) {
        let current = this.currentTestimony.coverage
        let currentLocations = current.split(';')[0]
        let currentEndDate = current.split(';')[1].split('-')[1]
        this.currentTestimony.coverage = `${currentLocations};${newStartDate}-${currentEndDate}`
      }
    },
    endDate: {
      get: function () {
        return this.currentTestimony.coverage ? this.currentTestimony.coverage.split(';')[1].split('-')[1] : ''
      },
      set: function (newEndDate) {
        let current = this.currentTestimony.coverage
        let currentLocations = current.split(';')[0]
        let currentStartDate = current.split(';')[1].split('-')[0]
        this.currentTestimony.coverage = `${currentLocations};${currentStartDate}-${newEndDate}`
      }
    },
    subjectOptions: function () {
      return this.subjects.models.map(function (subject) {
        return { value: subject.id, label: subject.name, }
      })
    },
    selectedSubjects: {
      get: function () {
        return this.subjects.filter((subject) => this.currentTestimony.subject.includes(subject.id))
                            .map(function (subject) {
                              return { value: subject.id, label: subject.name, }
                            })
      },
      set: function (newSubjects) {
        this.currentTestimony.subject = newSubjects.map(subject => subject.value)
      }
    },
    keywordOptions: function () {
      return this.keywords.models.map(function (keyword) {
        return { value: keyword.id, label: keyword.name, }
      })
    },
    selectedKeywords: {
      get: function () {
        return this.keywords.filter((keyword) => this.currentTestimony.keywords.includes(keyword.id))
                            .map(function (keyword) {
                              return { value: keyword.id, label: keyword.name, }
                            })
      },
      set: function (newKeywords) {
        this.currentTestimony.keywords = newKeywords.map(keyword => keyword.value)
      }
    },
  },
  mounted: function () {
    this.narrators.fetch()
    this.interviewers.fetch()
    this.publishers.fetch()
    this.series.fetch()
    this.keywords.fetch()
    this.subjects.fetch()
    axios.get('/content-languages').then(response => this.languages = response.data)
    axios.get('/license-options').then(response => this.licenses = response.data)
    this.attachments.set('testimonyID', this.currentTestimony.id)
    this.attachments.fetch()
    EventBus.$on('save-testimony-record', this.saveTestimony)
  },
  methods: {
    ...mapActions(['updateCurrentTestimony', ]),
    ...mapMutations(['setLastSaved', ]),
    submitReleaseForm: function () {
      let formData = new FormData()
      formData.append('release_form', this.$refs.releaseForm.files[0])
      axios.patch(`testimonies/${this.currentTestimony.$.id}/`, formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
        }
      }).then(() => this.currentTestimony.fetch())
    },
    createAttachment: function () {
      let formData = new FormData()
      formData.append('file', this.$refs.attachmentFile.files[0])
      axios.post(`/testimonies/${this.currentTestimony.id}/attachments/`, formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
        }
      }).then(r => {
        this.attachment.id = r.data.id
        //this.attachment.file = r.data.file
        this.attachment.save()
        this.showNewAttachmentModal = false
      }).catch(r => {
        // TODO: better error handling
        alert('There was an error uploading the file! Some info: ' + r.data)
      })
    },
    deleteModal: function (id) {
      this.attachment = this.attachments.find({id: id})
      this.showDeleteModal = true
    },
    editModal: function (id) {
      this.attachment = this.attachments.find({id: id})
      this.showEditModal = true
    },
    deleteAttachment: function () { //e
      this.attachment.delete()
      this.showDeleteModal = false
    },
    editAttachment: function () { //e
      this.attachment.save().then(() => this.showEditModal = false)
    },
    updatePublicStatus: function (newStatus) {
      this.currentTestimony.metadata_public = newStatus
    },
    saveTestimony: function () {
      this.currentTestimony.save().then(function () {
        this.setLastSaved(new Date())
      })
    }
  }
}
</script>

<style lang="scss" scoped>

.metadata {
  width: 100%;
}

.divider {
  border: 0px;
  border-top: 1px solid #e5e5e5;
}

.uk-icon {
  color: hsla(2, 0%, 59%, 1);
}

</style>

<i18n>
{
  "en": {
    "testimony": {
      "title": "Interview title",
      "summary": "Summary",
      "collection": "Collection",
      "publisher": "Publisher",
      "location": "Interview location",
      "date": "Interview date",
      "locations": "Locations mentioned",
      "daterangestart": "Date range start",
      "daterangeend": "Date range end",
      "narrator": "Narrator",
      "interviewer": "Interviewer",
      "subjects": "Subjects",
      "keywords": "Keywords",
      "language": "Original language",
      "translation": "Translation language",
      "license": "License",
      "releaseDate": "Release date",
      "releaseForm": "Release form",
      "upload": "Upload",
      "replace": "Replace",
      "uploadFile": "Upload file"
    },
    "releaseInformation": "Release Information",
    "viewReleaseForm": "View release form",
    "additionalFiles": "Additional Files",
    "tooltip": {
      "title": "Interview title",
      "summary": "Summary",
      "collection": "Collection",
      "publisher": "Publisher",
      "location": "Interview location",
      "date": "Interview date",
      "locations": "Locations mentioned",
      "daterangestart": "Date range start",
      "daterangeend": "Date range end",
      "narrator": "Narrator",
      "interviewer": "Interviewer",
      "subjects": "Subjects",
      "keywords": "Keywords",
      "language": "Original language",
      "translation": "Translation language",
      "license": "License",
      "releaseDate": "Release date",
      "releaseForm": "Release form",
      "upload": "Upload",
      "uploadFile": "Upload file"
    },
    "selectALanguage": "Select a language",
    "selectALicense": "Select a destination",
    "attachment": {
      "name": "name",
      "description": "Description",
      "selectFile": "Select file",
      "newAttachment": "Create a new attachment",
      "add": "Add attachment",
      "file": "File",
      "selectFile": "Select a file"
    },
    "deleteModal": {
      "text": "Are you sure that you want to delete the following attachment?",
      "cancel": "Cancel",
      "delete": "Delete"
    },
    "editModal": {
      "cancel": "Cancel",
      "save": "Save"
    }
  },
  "ar": {
  }
}
</i18n>
