<template>
  <vk-grid v-if="currentTestimony">
    <div class="uk-width-expand uk-padding-remove-vertical uk-margin-large-right">
      <p class="uk-text-center">{{ $t('shortcuts') }}</p>
      <textarea class="uk-textarea transcript-area"
                ref="transcript"
                v-model="transcript.text"
                @input="resizeToFit">
      </textarea>
    </div>

    <!-- workflow status  -->
    <div class="uk-width-1-4">
      <workflow-status v-if="transcript.workflow"
                       :workflow="transcript.workflow"
                       :public="transcript.public"
                       @public-state-change="updatePublicStatus"/>
    </div>
  </vk-grid>
</template>

<script>
// import axios from 'axios'

import { mapState, mapActions, mapMutations } from 'vuex'

import { EventBus } from '@/event-bus.js'

import WorkflowStatus from '@/components/WorkflowStatus'

import Transcript from '@/models/transcript.js'

export default {
  name: 'TestimonyTranscriptSection',
  components: {
    WorkflowStatus,
  },
  data: function () {
    return {
      transcript: new Transcript(),
      testimonyID: null,
      changeCount: 0,
    }
  },
  mounted: function () {
    this.testimonyID = this.currentTestimony.id
  },
  created: function () {
    window.addEventListener('keydown', this.togglePlay)
    EventBus.$on('save-testimony-record', this.save)
  },
  beforeDestroy: function () {
    window.removeEventListener('keydown', this.togglePlay)
  },
  computed: {
    ...mapState(['currentTestimony', ]),
  },
  methods: {
    ...mapActions(['updateCurrentTestimony', ]),
    ...mapMutations(['setSave', 'setLastSaved']),
    updatePublicStatus: function (newStatus) {
      this.transcript.public = newStatus
      this.transcript.save()
    },
    resizeToFit: function () { // this is a deceptive function name :joy:
      this.$refs.transcript.style.height = `${this.$refs.transcript.scrollHeight}px`
      this.changeCount += 1
    },
    togglePlay: function () {
      if(event.key === 'Escape') {
        EventBus.$emit('toggle-play')
      }
    },
    save: function () {
      this.transcript.save().then(() => {
        this.setLastSaved(new Date())
      }) // TODO: do something on saving error
    }
  },
  watch: {
    testimonyID: function (newTestimonyID) { //oldTestimonyID
      if (newTestimonyID) {
        this.transcript.id = newTestimonyID
        this.transcript.fetch().then(() => this.resizeToFit())
      }
    },
    changeCount: function () {
      if (this.changeCount > 30) {
        this.transcript.save()
        this.changeCount = 0
      }
    },
  }
}
</script>

<style lang="scss" scoped>

.transcript-area {
  padding: 1rem;
}

</style>

<i18n>
{
  "en": {
    "shortcuts": "Insert the transcription below"
  },
  "ar": {
  }
}
</i18n>
