<template>
  <vk-card class="testimony-card">
    <router-link id="to-testimony" to="/testimony/{testimony.id}">
      <span @click="setCurrentTestimony(testimony)">

        <div class="small-testimony-card">
          <small-testimony-card-demo
          :file="testimony.file"
          :title="testimony.title">
          </small-testimony-card-demo>
        </div>

        <vk-card class="testimony-description"
                 type="default"
                 padding="small">

          <vk-card-title> {{testimony.title}} </vk-card-title>
          <div>
            <div class="uk-panel uk-panel-box">{{testimony.description}}</div>
          </div>
        </vk-card>

        <div class="keywords" v-for="keyword in this.keywords" v-bind:key="keyword.id">
          <span class="uk-badge keyword">{{keyword.name}}</span>
        </div>

      </span>
    </router-link>
  </vk-card>
</template>

<script>

import { mapState, mapActions } from 'vuex'

import SmallTestimonyCardDemo from '@/components/SmallTestimonyCardDemo'
import KeywordCollection from '@/collections/KeywordCollection'

export default {
  props: {
    testimony: Object
  },
  name: 'TesimonyCard',
  components: {
    SmallTestimonyCardDemo
  },
  data: function () {
    return {
      allKeywords: new KeywordCollection(),
      keywords: [],
    }
  },
  created: function () {
    this.allKeywords.fetch().then(() => {
      this.keywords = this.allKeywords.models.filter((keyword) => this.testimony.keywords.includes(keyword.id))
    })
  },
  computed: {
    ...mapState(['currentTestimony'])
  },
  methods: {
    ...mapActions(['setCurrentTestimony'])
  }
}

</script>



<style lang="scss" scoped>
.testimony-description {
  margin: 0px;
  height: 11rem;
  position: absolute;
  left: 224px;
  top: 0px;
  box-shadow: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.small-testimony-card {
  position: absolute;
  left: -8px;
  top: -8px;
}
.keywords {
  margin-top: 145px;
  margin-left: 200px;
}
.keyword {
  background: #CCCCCC;
  color: black;
}

.testimony-card {
  height: 15rem;
  border: 1px #c6cdd4 solid;
  box-shadow: none;
}
</style>
