<template>
  <vk-grid v-if="currentTestimony" class="uk-margin-large-bottom">
    <div class="uk-width-expand uk-padding-remove-top uk-margin-large-right">
      <p class="uk-text-center">{{ $t('shortcuts') }}</p>

      <segment-card v-for="segment in segments.models"
                    v-bind:key="segment.id"
                    :id="segment.id"
                    :subjectOptions="subjectOptions"
                    :keywordOptions="keywordOptions"/>
      <vk-button class="uk-width-1-1"
                 type="secondary"
                 @click="newSegment">
        {{ $t('addSegmentButton') }}
      </vk-button>
    </div>

    <!-- workflow status  -->
    <div class="uk-width-1-4">
    <workflow-status v-if="currentTestimony.segmentation_workflow"
                      :workflow="currentTestimony.segmentation_workflow"
                      :public="currentTestimony.segmentation_public"
                      @public-state-change="updatePublicStatus"/>
    </div>
  </vk-grid>
</template>

<script>
// import axios from 'axios'

import { mapState, mapActions, mapMutations } from 'vuex'

import { EventBus } from '@/event-bus.js'

import WorkflowStatus from '@/components/WorkflowStatus'
import SegmentCard from '@/components/SegmentCard'
// import Segment from '@/models/segment.js'
import SegmentCollection from '@/collections/SegmentCollection.js'
import SubjectCollection from '@/collections/SubjectCollection.js'
import KeywordCollection from '@/collections/KeywordCollection.js'

export default {
  name: 'TestimonySegmentationSection',
  components: {
    WorkflowStatus,
    SegmentCard,
  },
  data: function () {
    return {
      segments: new SegmentCollection(),
      testimonyID: null,
      subjects: new SubjectCollection(),
      keywords: new KeywordCollection(),
    }
  },
  mounted: function () {
    this.testimonyID = this.currentTestimony.id
    this.keywords.fetch()
    this.subjects.fetch()
  },
  created: function () {
    window.addEventListener('keydown', this.newSegmentShortcut)
    window.addEventListener('keydown', this.togglePlay)
  },
  beforeDestroy: function () {
    window.removeEventListener('keydown', this.newSegmentShortcut)
    window.removeEventListener('keydown', this.togglePlay)
  },
  computed: {
    ...mapState(['currentTestimony', 'save' ]),
    subjectOptions: function () {
      return this.subjects.models.map(function (subject) {
        return { value: subject.id, label: subject.name, }
      })
    },
    keywordOptions: function () {
      return this.keywords.models.map(function (keyword) {
        return { value: keyword.id, label: keyword.name, }
      })
    },
  },
  methods: {
    ...mapActions(['updateCurrentTestimony', ]),
    ...mapMutations(['setSave', 'setLastSaved']),
    updatePublicStatus: function (newStatus) {
      this.currentTestimony.segmentation_public = newStatus
      this.currentTestimony.save()

    },
    newSegmentShortcut: function () {
      if(event.altKey && event.keyCode == 89 ) {
        this.newSegment()
      }
    },
    newSegment: function () {
      this.segments.add()
    },
    togglePlay: function () {
      if(event.key === 'Escape') {
        EventBus.$emit('toggle-play')
      }
    },
  },
  watch: {
    testimonyID: function (newTestimonyID) { //oldTestimonyID
      if (newTestimonyID) {
        this.segments.set('testimonyID', newTestimonyID)
        this.segments.fetch()
      }
    },
    save: function () {
      if (this.save) {
        this.segments.each((segment) => { // .find({changed: true})
          segment.save().then(() => {
            this.setSave(false) // TODO: handle this properly
            this.setLastSaved(new Date())
          })
          // .catch(e => {
          //   })  // TODO: do something on savaing error
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>

<i18n>
{
  "en": {
    "shortcuts": "Press ESC to play/pause, alt+Y to add a new segment",
    "addSegmentButton": "+ Add a new segment"
  },
  "ar": {
  }
}
</i18n>
