<template>
  <div class="uk-panel uk-margin-right">

    <div class="uk-panel">
      <label class="uk-form-label" for="show-items-by">{{ $t('show') }}: </label>
      <select id="show-items-by" class="uk-select uk-width-1-6">
        <option selected="selected">{{ $t('allTestimonies') }}</option>
        <option>{{ $t('myItems') }}</option>
        <!--
        <option v-for="editor in editors.models"
                :selected="editor.id == currentUser.id ? true : false">
                <template v-if="editor.id == currentUser.id">
                  {{ $t('my-items') }}
                </template>
                <template v-else>
                  {{ editor.first_name }} {{ editor.last_name }}
                </template>
        </option>
        -->
      </select>
      <vk-button type="secondary"
                 @click="addTestimony"
                 class="uk-position-right">
        + {{ $t('new interview') }}
      </vk-button>
    </div>

    <vk-modal :show.sync="deletePopup">
      <h3>{{ $t('Delete testimony?') }} </h3>
      <p class="uk-text-right">
        <vk-button @click="deletePopup = false" class="uk-margin-small-right" type="secondary">{{ $t('Cancel') }}</vk-button>
        <vk-button @click="deleteTestimony(testimony)" type="secondary">{{ $t('Delete') }}</vk-button>
      </p>
    </vk-modal>

    <vk-table :data="allTestimonies.models"
              hoverable>
      <vk-table-column :title="$t('title')" cell="_attributes.title">
        <div slot-scope="{ row }">
          <router-link :to="{ name: 'testimony-detail', params: { id: row._attributes.id }}">
            <span id="title-column" @click="setCurrentTestimony(allTestimonies.where({id: row._attributes.id})[0])">
              {{ row._attributes.title }}
            </span>
          </router-link>
        </div>
      </vk-table-column>

      <vk-table-column :title="$t('collection')">
        <div slot-scope="{ row }">
          {{ (row._attributes.relation === null) ? ("") : (collections.filter(x => x.id === row._attributes.relation)[0].name) }}
        </div>
      </vk-table-column>

      <vk-table-column :title="$t('narrator')">
        <div slot-scope="{ row }">
          {{ (row._attributes.creator === null) ? ("") : (narrators.filter(x => x.id === row._attributes.creator)[0].name) }}
        </div>
      </vk-table-column>

      <vk-table-column :title="$t('interview date')">
        <div slot-scope="{ row }">
          {{ (row._attributes.date === null) ? ("") : row._attributes.date.toISOString().split('T')[0] }}
        </div>
      </vk-table-column>

      <vk-table-column :title="$t('status')" cell="_attributes.published">
        <div slot-scope="{ cell }">
          <span v-if="cell">
            {{ $t('published') }}
          </span>
          <span v-else>
            {{ $t('draft') }}
          </span>
        </div>
      </vk-table-column>
      <vk-table-column :title="$t('action')" cell="_attributes.id">
        <div slot-scope="{ cell, row }">

          <router-link :to="{ name: 'edit-testimony', params: { id: row._attributes.id, tab: 'files' }}" class="edit-button">
            <vk-icons-pencil/>
          </router-link>

          <vk-button @click="setTestimony(row._attributes)" class="uk-button-small trash-button">
            <vk-icons-trash/>
          </vk-button>
        </div>
      </vk-table-column>
    </vk-table>
    <!-- <router-view></router-view> -->
  </div>
</template>

<script>

import { mapState, mapActions } from 'vuex'

// import User from '@/models/user.js'
import Testimony from '@/models/testimony.js'
import axios from 'axios'
import TestimonyCollection from '@/collections/TestimonyCollection.js'
import EditorsCollection from '@/collections/EditorsCollection.js'

export default {
  name: 'Testimonies',
  data: function () {
    return {
      allTestimonies: Object,
      editors: Object,
      narrators: [],
      collections: [],
      deletePopup: false,
      testimony: new Testimony(),
    }
  },
  computed: {
    ...mapState(['currentUser', ])
  },
  created: function () {
    this.allTestimonies = new TestimonyCollection()
    this.allTestimonies.fetch().then(() => {
        for ( var i=0; i < this.allTestimonies.models.length; i++) {
          var model = this.allTestimonies.models[i]
          this.getNarrator(model.creator)
          this.getCollection(model.relation)
        }
    })

    // get editors list
    this.editors = new EditorsCollection()
    this.editors.fetch()
  },
  mounted: function () {
  },
  watch: {
  },
  methods: {
    ...mapActions(['setCurrentTestimony']),

    addTestimony: function () {
      this.$router.push({name: 'new-testimony'})
    },
    deleteTestimony: function(testimony) {
      var testimonyPath = '/testimonies/' + testimony.id + '/'
      var that = this

      axios.delete(testimonyPath).then(() => {
        that.allTestimonies.remove(testimony)
        that.deletePopup = false
      })
    },
    setTestimony: function(testimony) {
      this.deletePopup = true
      this.testimony = testimony
    },
    getNarrator: function(number) {
      var narratorPath = '/creators/' + number + '/'
      var that = this

      axios.get(narratorPath).then(response => {
        that.narrators.push({id: response.data.id, name: response.data.name})
      })
    },
    getCollection: function(number) {
      var collectionPath = '/collections/' + number + '/'
      var that = this

      axios.get(collectionPath).then(response => {
        that.collections.push({id: response.data.id, name: response.data.name})
      })
    },
  }
}
</script>

<style lang="scss" scoped>
tbody {
  border: solid 1px lightgray;
}
.uk-table {
  border: solid 1px lightgray;
}
#title-column {
  color: black;
  font-weight: 500;
}
.trash-button {
  border:  none;
  margin: -20px;
  margin-left: 10px;
  // width: 60px;
}
.edit-button {
  border:  none;
  margin: -10px;
  // width: 50px;
}

</style>
