<template>
  <div class="workflow-status-panel">
    <form v-if="!hideLanguage" class="uk-padding-small uk-padding-remove-horizontal">
      <fieldset class="uk-fieldset">
        <legend class="uk-legend">{{ $t('contentLanguage') }}</legend>
        <label  v-for="language in contentLanguages"
                v-bind:key="language[0]">
          <input class="uk-radio"
                 type="radio"
                 name="contentLanguage"
                 :value="language[0]"
                 v-model="selectedContentLanguage"> {{ language[1] }}
        </label>
      </fieldset>
    </form>

    <form class="uk-form-stacked uk-padding-small uk-padding-remove-horizontal">
      <fieldset @change="saveWorkflowState" class="uk-fieldset">
        <legend class="uk-legend">{{ $t('workflowStatus.legend') }}</legend>
        <p class="uk-margin-small uk-margin-remove-top">{{ $t('workflowStatus.tip') }}</p>
        <label>
          <input class="uk-checkbox"
                 type="checkbox"
                 v-model="workflowState.content_complete">
            {{ $t('workflowStatus.contentComplete') }}
        </label>
        <br/>
        <label>
          <input class="uk-checkbox"
                 type="checkbox"
                 v-model="workflowState.anonymization_complete">
            {{ $t('workflowStatus.anonymizationComplete') }}
        </label>
        <br/>
        <label>
          <input class="uk-checkbox"
                 type="checkbox"
                 v-model="workflowState.quality_control_complete"
                 >
            {{ $t('workflowStatus.qualityControlComplete') }}
        </label>
      </fieldset>

      <fieldset class="uk-fieldset uk-margin-small uk-padding-remove-horizontal">
        <legend class="uk-legend">{{ $t('workflowStatus.visibility') }}</legend>
        <label>
          <input class="uk-checkbox"
                 type="checkbox"
                 :checked="publicState"
                 @change="$emit('public-state-change', $event.target.checked)"> {{ $t('workflowStatus.public') }}
        </label>
      </fieldset>
    </form>
  </div>
</template>

<script>
// import axios from 'axios'

import { mapState, mapMutations, mapActions } from 'vuex'

import Workflow from '@/models/workflow.js'

export default {
  name: 'WorkflowStatus',
  props: {
    workflow: Object,
    hideLanguage: {
      default: false,
      type: Boolean,
      required: false,
    },
    publicState: Boolean,
  },
  data: function () {
    return {
      selectedContentLanguage: 'ar', // this.contentLanguages[0][0],
      workflowState: new Workflow(),
    }
  },
  mounted: function () {
    if (this.workflow) {
      this.workflowState.id = this.workflow.id
      this.workflowState.fetch()
    }
  },
  computed: {
    ...mapState(['contentLanguages', 'currentTestimony']),
  },
  methods: {
    ...mapMutations(['setSelectedContentLanguage', ]),
    ...mapActions(['updatePublicFileState', ]),
    saveWorkflowState: function() { //change
      this.workflowState.save()
    },
  },
  watch: {
    selectedContentLanguage: function () {
      this.setSelectedContentLanguage(this.selectedContentLanguage)
    },
    workflow: function () {
      this.workflowState.clear()
      this.workflowState.id = this.workflow.id
      this.workflowState.fetch()
    }
  }
}
</script>

<style lang="scss" scoped>
form:not(:last-child) {
  border-bottom: 1px solid #c6cdd4;
}

legend {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 0.7rem 0 0.5rem 0;
}
</style>

<i18n>
{
  "en": {
    "contentLanguage": "Content language",
    "workflowStatus": {
      "legend": "Workflow status",
      "tip": "Change the status of the section to improve your workflow. If you don't complete the content, you cannot publish the section.",
      "contentComplete": "Content complete",
      "anonymizationComplete": "Anonymization complete",
      "qualityControlComplete": "Quality control complete",
      "visibility": "Visibility",
      "public": "Public",
      "private": "Private"
    }
  },
  "ar": {
  }
}
</i18n>
