<template>
  <div id="app">
    <ul id="main-nav" class="uk-iconnav uk-iconnav-vertical uk-position-fixed uk-padding-small">
      <li><vk-icon-link id="menu" icon="menu" @click="showSidebar = !showSidebar"></vk-icon-link></li>
      <li><h4 id="archive-name">{{ about.name }} </h4></li>
      <li><router-link id="login" to="/login"><vk-icon-link icon="user"></vk-icon-link></router-link></li>
    </ul>

    <vk-offcanvas-content>
      <vk-offcanvas :show.sync="showSidebar" overlay>

        <div class="uk-margin-large-left">

          <template v-if="about">
            <router-link to="/">
              <img @click="showSidebar = false" :src="about.logo" :alt="about.name">
              <p> about logo goes here </p>
            </router-link>
          </template>

          <ul v-if="seriesCollection" class="series-list">
            <li>
              <router-link id="filter" to="/filter">
                <span @click="updateSeries(series); showSidebar = false"> Archive </span>
              </router-link>
            </li>
            <li v-for="series in seriesCollection.models" :key="series.id">
              <router-link id="filter" to="/filter">
                <span @click="updateSeries(series); showSidebar = false"> {{ series.name }} </span>
              </router-link>
            </li>
            <li id="about-link"><span class="big-link" @click="showSidebar = false" ><router-link to="/about" >{{ $t('about') }}</router-link></span></li>
          </ul>

        </div>

      </vk-offcanvas>
    </vk-offcanvas-content>

    <div id="router-view">
      <router-view/>
    </div>

  </div>
</template>

<script>

import { mapState, mapActions } from 'vuex'

export default {
  components: {
  },
  data: function () {
    return {
      showSidebar: false,
    }
  },
  computed: {
    ...mapState(['about', 'seriesCollection', 'accessToken'])
  },
  methods: {
    ...mapActions(['getAbout', 'getSeriesCollection', 'getContentLanguages', 'updateSeries']),
  },
  created: function () {
    this.getAbout()
    this.getSeriesCollection()
    this.getContentLanguages()
  }
}
</script>

<style lang="scss">
#app {
  margin-top: 10px;
}
#router-view {
  margin-left: 75px;
}
#archive-name {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: black;
  line-height: 1rem;
  margin-top: 10px;
}
#login {
  color: black;
  line-height: 1rem;
}
#menu {
  color: black;
}
#off-canvas {
  border-right: solid lightgray 1px;
}
#main-nav {
  z-index: 10000;
  background: white;
  height: 100%;
  border-right: solid lightgray 1px;
}
#about-link {
  margin-top: 8rem;
}
.big-link {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;

  a {
    color: rgb(102, 102, 102);
  }
}
</style>
